<!doctype html>

<!-- tfl-probe -->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->

<html lang="en" class="no-js no-touch">

<!--<![endif]-->
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/cdn/static/assets/icons/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/w3.css">



    <!-- links for table -->
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style2/pink-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/Main.css">


    <!-- Optional theme -->

    <link rel="stylesheet" href="www.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">



    <!-- Latest compiled and minified JavaScript -->



    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="HandheldFriendly" content="True">

    <script type="text/javascript">

        var h = document.documentElement;

        h.className = h.className.replace(/\bno-js\b/, '');

        var isTouch = !!("ontouchstart" in window) || window.navigator.msMaxTouchPoints > 0;



        if (isTouch) {

            // remove class which defines hover behavior

            h.className = h.className.replace(/\bno-touch\b/, '');

        }

    </script>



    <script src="js/bootstrap.min.js"></script>

    <title>Interbus - Get Moving Anywhere, Comfortably</title>





    <meta name="description" content="Information on all forms of transport in London including cycle hire. Routes, maps, plan a journey, tickets sales, realtime traffic and travel updates." />

    <meta name="keywords" />

    <meta name="author" content="Interbus | Get Moving Anywhere, Comfortably"  />

    <meta property="og:url" content="" />

    <meta property="og:title" content="Every Journey Matters" />

    <meta property="og:description" content="Information on all forms of transport in London including cycle hire. Routes, maps, plan a journey, tickets sales, realtime traffic and travel updates." />

    <meta property="og:site_name" content="Transport for London" />

    <meta property="article:publisher" content="https://facebook.com/" />

    <meta property="article:author" content="https://facebook.com/" />

    <meta name="twitter:creator" content="&#64;tfl" />



    <link href="css/StyleSheet2.css" media="screen,print" rel="stylesheet" />

    <link href="css/StyleSheet1.css" media="screen,print" rel="stylesheet" />

    <link href="css/StyleSheet4.css" media="screen,&#32;print" rel="stylesheet" />

    <link href="css/StyleSheet3.css" media="screen&#32;and&#32;(min-width:&#32;580px),print" rel="stylesheet" />



    <link href="css/StyleSheet5.css" media="screen&#32;and&#32;(min-width:&#32;900px)" rel="stylesheet" />

    <!--<link href="/cdn/static/styles/core/min/print.min.bbf3e026.css" media="print" rel="stylesheet" />-->



    <link href="css/StyleSheet6.css" media="screen" rel="stylesheet" />







    <!--[if lte IE 9]>

        <link href="/cdn/static/styles/core/min/ie.min.0b308d8c.css" media="screen" rel="stylesheet" />

    <![endif]-->


    <script type="text/javascript">

        // Instructions: please embed this snippet directly into every page in your website template.

        // For optimal performance, this must be embedded directly into the template, not referenced

        // as an external file.



        // Answers Cloud Services Embed Script v1.02

        // DO NOT MODIFY BELOW THIS LINE *****************************************

        ; (function (g) {

            var d = document, i, am = d.createElement('script'), h = d.head || d.getElementsByTagName("head")[0],

            aex = {

                "src": "//gateway.answerscloud.com/tfl-gov-uk/production/gateway.min.js",

                "type": "text/javascript",

                "async": "true",

                "data-vendor": "acs",

                "data-role": "gateway"

            };

            for (var attr in aex) { am.setAttribute(attr, aex[attr]); }

            h.appendChild(am);

            g['acsReady'] = function () { var aT = '__acsReady__', args = Array.prototype.slice.call(arguments, 0), k = setInterval(function () { if (typeof g[aT] === 'function') { clearInterval(k); for (i = 0; i < args.length; i++) { g[aT].call(g, function (fn) { return function () { setTimeout(fn, 1) }; }(args[i])); } } }, 50); };

        })(window);

        // DO NOT MODIFY ABOVE THIS LINE *****************************************

    </script>

    <style>
        rr.div a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 15px;
            display: inline-block;
        }

        .rr ul {
            display: inline;
            margin: 0;
            padding: 0;
        }


            .rr ul li {
                display: inline-block;
                color: white;
            }

                .rr ul li:hover {
                    background: #555;
                }

                    .rr ul li:hover ul {
                        display: block;
                    }

                .rr ul li ul {
                    position: absolute;
                    width: 100px;
                    display: none;
                }

                    .rr ul li ul li {
                        background: #555;
                        display: block;
                        border-bottom: 1px solid white;
                        width: 170px;
                    }

                        .rr ul li ul li a {
                            display: block !important;
                            text-decoration: none;
                        }

                        .rr ul li ul li:hover {
                            background: #666;
                        }

                        .rr ul li ul li a:hover {
                            text-decoration: none;
                        }
    </style>



</head>

<body style="background-image:url(images/one1.jpg)">


    <!--Start Header-->
    <div id="container">
        <!--Start Menu-->
        <div class="mainnav" id="mainnav" tabindex="0">

            <div class="top-row" style="position:fixed; width:100%; z-index:3">

                <div class="r">
                    <div class="rr">
                        <a style="margin-top: 0px; padding-top: 0px; margin-right: 50px; float:left" href="../index.html"><img style="height:76px" src="Images/logos/interbusLogo.png" alt="Alternate Text" /> </a>
                        <ul class="collapsible-menu clearfix" style="margin-left:0px;">

                            <li style="margin-left:90px">

                                <a style="text-decoration:none" href="index.html">Home</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="Fares_and_payments.html">Fares / Payments</a>

                                <ul>
                                    <li><a href="#">Schedules</a></li>
                                    <li><a href="#">CheckFare</a></li>
                                    <li><a href="#">Cancellation</a></li>


                                </ul>
                            </li>
                            <li>

                                <a style="text-decoration:none" href="Status_and_Updates.html">Status & Updates</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="#">Products</a>
                                <ul>
                                    <li><a href="Licensepage.html">Fleet Owner License</a></li>

                                </ul>
                            </li>

                            <li>

                                <a style="text-decoration:none" href="#">About Us</a>
                                <ul>
                                    <li><a href="#">ContactUs</a></li>

                                </ul>

                            </li>

                            <li style="margin-left:150px">

                                <div style="float:right; padding-top:11px">
                                    <input type="text" placeholder="Search" id="q" name="q" style="border-radius: 30px; width: 120px; color: red; height: 35px" />


                                </div>


                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <!--End Menu-->

    </div>
    <!--End Header-->

    <div class="row">
        <div id="wrapper" style="margin-top:58px">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-position="right" class="navbar-default navbar-static-side">
                <div class="sidebar-collapse menu-scroll">
                    <ul id="side-menu" class="nav">
                        <li class="user-panel">


                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <a href="CancelTicket.html">
                                <i class="fa fa-tachometer fa-fw">
                                    <div class="icon-bg bg-orange"></div>
                                </i><span class="menu-title">Cancel Ticket</span>
                            </a>
                        </li>






                        <li class="active">
                            <a href="BookedTicketHistory.html">
                                <i class="fa fa-sitemap fa-fw">
                                    <div class="icon-bg bg-dark"></div>
                                </i><span class="menu-title">Booked Ticket History</span>
                            </a>



                        </li>

                        <li>
                            <a href="Re_fund.html">
                                <i class="fa fa-truck">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">Refunds</span>
                            </a>


                        </li>



                        <li>
                            <a href="PrintTicket.html">
                                <i class="fa fa-gears">
                                    <div class="icon-bg bg-dark"></div>
                                </i><span class="menu-title">Print Ticket</span>
                            </a>

                        </li>



                        <!--<li>
                            <a href="#">
                                <i class="fa fa-send-o fa-fw">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">Users</span><span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="Company.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Company</span></a></li>
                                <li><a href="CompanyRoles.html"><i class="fa fa-briefcase"></i><span class="submenu-title">CompanyRoles</span></a></li>
                                <li><a href="Users.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Users</span></a></li>
                                <li><a href="Inventory.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Inventory</span></a></li>
                                <li><a href="InventoryItems.html"><i class="fa fa-briefcase"></i><span class="submenu-title">InventoryItems</span></a></li>
                                <li><a href="LicenseDetails.html"><i class="fa fa-briefcase"></i><span class="submenu-title">License Details</span></a></li>
                                <li><a href="LicensePayments.html"><i class="fa fa-align-left"></i><span class="submenu-title">LicensePayments</span></a></li>
                                <li><a href="InventorySales.html"><i class="fa fa-align-left"></i><span class="submenu-title">InventorySales</span></a></li>
                                <li><a href="InventoryPurchases.html"><i class="fa fa-align-left"></i><span class="submenu-title">InventoryPurchases</span></a></li>
                            </ul>

                        </li>-->
                        <!--<li>
                            <a href="#">
                                <i class="fa fa-desktop fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i><span class="menu-title">BT POS</span><span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="BTPOSDetails.html"><i class="fa fa-align-left"></i><span class="submenu-title">BT POS Details</span></a></li>
                                <li><a href="Routes.html"><i class="fa fa-align-left"></i><span class="submenu-title">Routes</span></a></li>
                                <li><a href="AddNewRouteDetails.html"><i class="fa fa-align-left"></i><span class="submenu-title">Route Details</span></a></li>
                                <li><a href="Stops.html"><i class="fa fa-align-left"></i><span class="submenu-title">Stops</span></a></li>
                                <li><a href="VehicleDetails.html"><i class="fa fa-align-left"></i><span class="submenu-title">Vehicle Details</span></a></li>

                            </ul>
                        </li>


                        <li>
                            <a href="#">
                                <i class="fa fa-send-o fa-fw">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">Configuration</span><span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="TypeGroups.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Type Groups</span></a></li>
                                <li><a href="Types.html"><i class="fa fa-th-large"></i><span class="submenu-title">Types</span></a></li>
                                <li><a href="Roles.html"><i class="fa fa-hand-o-up"></i><span class="submenu-title">Roles</span></a></li>
                                <li><a href="RoleDetails.html"><i class="fa fa-hand-o-up"></i><span class="submenu-title">Role Details</span></a></li>
                                <li><a href="Objects.html"><i class="fa fa-align-left"></i><span class="submenu-title">Objects</span></a></li>
                            </ul>
                        </li>











                        <li>
                            <a href="#">
                                <i class="fa fa-edit fa-fw">
                                    <div class="icon-bg bg-violet"></div>
                                </i><span class="menu-title">Utilities & Tools</span><span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="EditHistory.html"><i class="fa fa-columns"></i><span class="submenu-title">Edit history</span></a></li>
                                <li><a href="TroubleTicketingDetails.html"><i class="fa fa-align-left"></i><span class="submenu-title">TroubleTicketingDetails</span></a></li>
                                <li><a href="SubCategory.html"><i class="fa fa-align-left"></i><span class="submenu-title">SubCategory</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-th-list fa-fw">
                                    <div class="icon-bg bg-blue"></div>
                                </i><span class="menu-title">Reports</span><span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="CompanyReports.html"><i class="fa fa-th-large"></i><span class="submenu-title">Company reports</span></a></li>
                                <li><a href="FleetRepoprts.Html"><i class="fa fa-tablet"></i><span class="submenu-title">Fleet owner reports</span></a></li>
                                <li><a href="AdminReports.html"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">Admin reports</span></a></li>
                                <li><a href="TroubleTicketReports.html"><i class="fa fa-filter"></i><span class="submenu-title">Trouble ticket reports</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope-o">
                                    <div class="icon-bg bg-primary"></div>
                                </i><span class="menu-title">Alerts & Notifications</span><span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="Inbox.html"><i class="fa fa-inbox"></i><span class="submenu-title">Inbox</span></a></li>
                                <li><a href="ComposeMail.html"><i class="fa fa-pencil"></i><span class="submenu-title">Compose Mail</span></a></li>
                                <li><a href="ViewMail.html"><i class="fa fa-eye"></i><span class="submenu-title">View Mail</span></a></li>
                                <li><a href="Alerts.html"><i class="fa fa-inbox"></i><span class="submenu-title">Alerts</span></a></li>
                                <li><a href="Notifications.html"><i class="fa fa-inbox"></i><span class="submenu-title">Notifications</span></a></li>
                                <li><a href="ConfigureAlerts.html"><i class="fa fa-pencil"></i><span class="submenu-title">Configure Alerts</span></a></li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
            </nav>
            <!--END CHAT FORM-->
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
                <!--BEGIN TITLE & BREADCRUMB PAGE-->

                <div class="page-content">
                    <div id="form-layouts" class="row">
                        <div class="col-lg-12">

                            <div style="background: transparent; border: 0; box-shadow: none !important" class="tab-content pan mtl mbn responsive">
                                <div id="tab-form-actions" class="tab-pane fade active in">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-violet">
                                                <div class="panel-heading">Booked Ticket History</div>
                                                <div class="panel-body pan">
                                                    <form action="#" class="form-horizontal form-seperated form-row-stripped">
                                                        <div class="form-body">
                                                            <div class="form-group">

                                                                <label for="inputFirstName" class="col-md-2 control-label">PNR Number</label>

                                                                <div class="col-md-3">
                                                                    <input id="inputFirstName" type="text" class="form-control" ng-model="User.FirstName" />
                                                                    <span class="help-block"></span>
                                                                </div>


                                                                <div class="form-group">
                                                                    <label class="col-md-2 control-label">Date</label>
                                                                    <div class="col-md-4">
                                                                        <div class="input-group datetimepicker-default date">
                                                                            <input class="form-control" type="text">
                                                                            <span class="input-group-addon">
                                                                                <i class="fa fa-calendar">
                                                                                </i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>



                                                            <div class="form-group">
                                                                <label for="inputMiddleName" class="col-md-2 control-label">From Stop </label>

                                                                <div class="col-md-3"><input id="inputMiddleName" type="text" class="form-control" ng-model="User.MiddleName" /><span class="help-block"></span></div>

                                                                <label for="inputLastName" class="col-md-2 control-label">To Stop<span class='require'>*</span></label>

                                                                <div class="col-md-3"><input id="inputLastName" type="text" class="form-control" ng-model="User.Email" /><span class="help-block"></span></div>

                                                            </div>

                                                            <div class="form-body pdl">

                                                                <div class="form-actions text-center pal">
                                                                    <button type="submit" class="btn btn-green" ng-click="save(User, 'I')">Search</button>
                                                                    &nbsp;
                                                                    <button type="reset" class="btn btn-primary" ng-click="clearUser()">Reset</button><br />
                                                                    <br />
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="panel panel-violet">
                                                        <div class="panel-heading">Booked Tickets</div>
                                                        <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                                            <tr>
                                                                <td>
                                                                    <strong>S.NO</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <strong> Transaction Id</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <strong>pnr number</strong>


                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <strong> From</strong>



                                                                </td>


                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong> To </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>Total amount </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>Refund Amount </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>Cancelled On </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>Type Of Ticket </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <strong>1</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    185456
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <strong>12854769</strong>


                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <strong>chennai</strong>



                                                                </td>


                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>hyderabad </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>600 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>300 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>29-09-2015 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>E-Ticket </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>










                                                            <tr>
                                                                <td>
                                                                    <strong>2</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <strong>845742</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <strong>33585967</strong>


                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <strong>tirupathi</strong>



                                                                </td>


                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong> vijayawada </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>800 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>600 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>14-01-2015 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>E-ticket </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>









                                                            <tr>

                                                                <td>
                                                                    <strong>3</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <strong> 212278</strong>
                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <strong> 33585967</strong>

                                                                    <div class="message-inner">


                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <strong>kadapa</strong>



                                                                </td>


                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>delhi </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>1250 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>850 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>15-04-2015 </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    <div class="message-inner">

                                                                        <div class="qa-message-content">
                                                                            <strong>tatkal </strong>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>








                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--END PAGE WRAPPER-->
                                        <!--END CONTENT--><!--BEGIN FOOTER-->
                                        <div id="footer">
                                            <div class="copyright" style="color:white">2016 © Interbus - Bus Ticketing dashboard portal</div>
                                        </div>

                                    </div>

                                </div>
                                <!--END FOOTER-->
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="footer" tabindex="0">

                <h2 class="visually-hidden">Site footer</h2>



                <div class="primary-footer r">
                    <h2 class="visually-hidden">About Interbus</h2><ul class="footer-links">
                        <li><a href="Construction.html">Help &amp; contacts</a></li>
                        <li><a class="" href="Construction.html">Careers</a></li>
                        <li><a class="" href="Construction.html">About Interbus</a></li>
                        <li><a class="" href="Construction.html">Safety &amp; security</a></li>
                        <li><a class="" href="Construction.html">Transparency</a></li>
                        <li><a class="" href="Construction.html">Publications &amp; reports</a></li>
                        <li><a class="" href="Construction.html">Gift Shop</a></li>
                        <li><a class="" href="Construction.html">Social media &amp; email updates</a></li>

                        <li><a class="languages-footer" href="Construction.html">Other languages</a></li>
                    </ul><h2 class="heading">Information for...</h2>
                    <ul class="info-for clearfix">
                        <li><a href="Construction.html">Media</a></li>
                        <li><a href="Construction.html">Business &amp; commercial</a></li>
                        <li><a href="Construction.html">Get Support online 24/7</a></li>
                        <li><a href="Construction.html">Schools &amp; young people</a></li>
                        <li><a href="Construction.html">Deliveries in Zimbabwe</a></li>
                        <li><a href="Construction.html">Urban planning & construction</a></li>


                        <li><a href="Construction.html">Taxi &amp; private hire </a></li>


                        <li><a href="Construction.html">Bus operators</a></li>
                        <li><a href="Construction.html">Open data users</a></li>
                        <li><a href="Construction.html">Coach drivers</a></li>
                        <li><a href="Construction.html">Investors</a></li>
                        <li><a href="Construction.html">Download Interbus App</a></li>
                    </ul>
                </div>
                <div class="secondary-footer">
                    <h2 class="visually-hidden">Site structure and legal information</h2><div class="r">
                        <ul>
                            <li><a href="Construction.html">Terms &amp; conditions </a></li>
                            <li><a href="Construction.html">Privacy &amp; cookies</a></li>
                            <li><a href="Construction.html">Website accessibility</a></li>
                        </ul>
                        <span class="heading">Copyright Interbus</span>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>







    <script>

        var myIndex = 0;

        carousel();



        function carousel() {

            var i;

            var x = document.getElementsByClassName("mySlides");

            for (i = 0; i < x.length; i++) {

                x[i].style.display = "none";

            }

            myIndex++;

            if (myIndex > x.length) { myIndex = 1 }

            x[myIndex - 1].style.display = "block";

            setTimeout(carousel, 4000); // Change image every 2 seconds

        }

    </script>



    <script>

        queue.push(function () {



            if (!$('body').hasClass('personalisation-active')) {

                $('#home-status-updates-default').css("visibility", "visible");

            }



        });</script>





























    <script>

        var $L = $LAB;

        for (var i = 0, len = queue.length; i < len; i++) {

            if (typeof queue[i] == "string") {

                $L = $L.script(queue[i]);

            } else if (!queue[i]) {

                $L = $L.wait();

            } else if (typeof queue[i] == "function") {

                $L = $L.wait(queue[i]);

            }

        }

    </script>



    <!-- SiteCatalyst code version: H.26. -->

    <script type="text/javascript">

        tfl.stats.account = 'tfl-global';

    </script>


    <script>
        function test() {
            var currstyle = document.getElementById('imgTd').style.display;
            document.getElementById('imgTd').style.display = (currstyle == "none") ? "table-cell" : "none";
        }
    </script>



    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>
    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->

    <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>


    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/Index.js"></script>



</body>

</html>

