<html lang="en">
<head>

    <title>Interbus - Get Moving Anywhere, Comfortably</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-1.11.0.min.js"></script>
    <!--<script src="js/Carousle/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>-->
    <script src="js/bootstrap.js"></script>


    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">

    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link href="css/themes/style2/pink-blue.css" rel="stylesheet" />
    <link type="text/css" rel="UI/stylesheet" href="css/style-responsive.css">
    <!--<link href="css/banner.css" rel="stylesheet" type="text/css">-->


</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="GetAvailableServices();" ng-model="Booking" style="background-color: white">

    <div id="container">
        <div class="mainnav" id="mainnav" tabindex="0">

            <div class="top-row clearfix" style="position: fixed; width: 100%; padding-top: 0px; z-index: 1">

                <div class="r">
                    <div class="rr">
                        <a style="margin-top: 10px; padding-top: 0px; margin-right: 30px; float:left" href="../index.html"><img style="height:26px" src="Images/logos/Idashboard.png" alt="Alternate Text" /></a>
                        <ul class="collapsible-menu clearfix" style="margin-left:0px;">

                            <li style="margin-left:50px">

                                <a style="text-decoration:none" href="../index.html">Home</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="Fares_and_payments.html">Fares / Payments</a>

                                <ul>
                                    <li><a href="Schedules.html">Schedules</a></li>
                                    <li><a href="CheckFare.html">CheckFare</a></li>
                                    <li><a href="Cancellation.html">Cancellation</a></li>


                                </ul>
                            </li>
                            <li>

                                <a style="text-decoration:none" href="Status_and_Updates.html">Status & Updates</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="#">Products</a>
                                <ul>
                                    <li><a href="Licensepage.html">Fleet Owner License</a></li>

                                </ul>
                            </li>

                            <li>

                                <a style="text-decoration:none" href="AboutUs.html">About Us</a>
                                <ul>
                                    <li><a href="ContactUs.html">ContactUs</a></li>

                                </ul>

                            </li>

                            <li style="margin-left:220px">

                                <div style="float:right; padding-top:11px">
                                    <input type="text" placeholder="Search" id="q" name="q" style="border-radius:30px; width:120px; height:35px" />


                                </div>


                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>

        <!--End Menu-->
    </div>
    <div class="row" style="margin-top:53px;padding-right:0px">

        <div ng-show="services.length != 0" style=" width: 100%; z-index: 1; background-color: white;">
            <div style="position: fixed; width: 100%; z-index: 1; background-color: #d84e55; margin-left: 10px">
                <!--<table class="table table-advanced" style="border: none; background-color: aliceblue; margin-right: -50px">

                    <tr style="border:none">
                        <td width="50%" style="text-align:center;" colspan="3"> Src-dest</td>
                        <td style="text-align:center">Dest-src</td>
                    </tr>



                </table>-->
                <div class="row" style="height:70px" ng-if="triptype == 'oneway'">
                    <div class="col-md-8" style="padding:15px">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <div style="text-align:center; height:40px;background-color:firebrick;padding:10px">
                                <font style="color:white;">Onward Journey</font>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <font style="color:white;" size="4">  {{src.Name}} - {{dest.Name}} </font>
                        </div>
                        <div class="col-md-2">
                            <font style="color:white;" size="4">  </font>
                        </div>
                    </div>


                    <div class="col-md-3" style="padding:15px;text-align:center">

                        <!--<div class="col-md-6">                           
                            <div style="text-align:center; height:40px;background-color:lightcoral;padding:10px" data-target="#AddReturnDetails" data-toggle="modal">
                                <font style="color:white;">+Return Journey</font>
                            </div>
                        </div>-->
                        <div class="col-md-6">
                            <div style="text-align:center; height:40px;background-color:lightcoral;padding:10px" data-target="#ModifyJourneydetails" data-toggle="modal" ng-if="triptype == 'oneway'">
                                <font style="color:white;">Modify</font>                              
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row" style="height:70px" ng-if="triptype == 'twoway'">
                    <div class="col-md-6" style="padding:15px">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-2">
                            <div style="text-align:center; height:40px;background-color:firebrick;padding:10px">
                                <font style="color:white;">Onward Journey</font>

                            </div>
                            <br /><font style="color:white;" size="4"> <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div> </font>
                        </div>
                        <div class="col-md-6">
                            <font style="color:white;" size="4">  {{S.Name}} - {{D.Name}} </font>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding:15px">

                        <div class="col-md-2">
                            <button ng-click="testAlert();">
                                <div style="text-align:center; height:40px;background-color:firebrick;padding:10px">
                                    <font style="color:white;">Return Journey</font>


                                </div>
                            </button>
                            <br /><font style="color:white;" size="4">  <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div> </font>
                        </div>
                        <div class="col-md-6">
                            <font style="color:white;" size="4">  {{D.Name}} - {{S.Name}} </font>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <div style="text-align:center; height:40px;background-color:lightcoral;padding:10px">
                                    <!--<font style="color:white;">Modify</font>-->

                                    <a href="#" data-target="#ModifyJourneydetails" data-toggle="modal" class="btn btn-info btn-sm" ng-if="triptype == 'oneway'">Modify</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div style="width: 100%; z-index: 1; background-color: white;padding-top:100px">

                <div class="col-md-12" ng-repeat="b in services">
                    <table class="col-md-12" style="border:solid 1px;padding-top:30px">
                        <tr>
                            <td style="width: 100%; border: solid 1px; padding-top: 10px;padding-bottom:10px">
                                <div class=" col-md-4" style="text-align:center">
                                    <img src="Images/busimages/nonac.jpg" />
                                    <strong>  {{b.cmpName}}</strong>
                                    <div class="message-inner">
                                        <div class="qa-message-content">
                                            {{b.VehicleType}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <img src="Images/busimages/time.jpg" /><strong> {{b.ArrivalTime}} -  {{b.DepartureTime}}</strong>


                                    <div class="message-inner">

                                        <div class="qa-message-content">
                                            {{b.Duration}} hours
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2"><strong>  {{b.Rating}} </strong><br /></div>-->
                                <div class="col-md-3">
                                    <img src="Images/busimages/seat.jpg" />
                                    <strong>  {{b.AvailableSeats}} Seats </strong><br />
                                    <strong>  {{b.WindowSeats}} Window Seats</strong>
                                </div>
                                <div class="col-md-2">
                                    <div class="col-md-3 col-sm-4">
                                        <strong>Rs.{{b.Amount}}</strong>
                                    </div>
                                    <br />
                                    <button ng-click="FillInitialDetails($index, b);" type="button" class="btn btn-primary">
                                        select seats
                                    </button>
                                </div>


                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center"></td>
                        </tr>
                    </table>
                    <div class="col-md-12" id="t_{{$index}}" style="display:none;text-align:center;padding:20px">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div style="width: 100%; z-index: 1; margin-left: 5px">
                                <div class="col-md-6" style="background-color: aliceblue;">
                                    <table>
                                        <tr>
                                            <td colspan="10" style="text-align:right"><img src="Images/busimages/driver.png" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="10" style="text-align:right;height:5px"></td>
                                        </tr>
                                        <tr ng-repeat="s in seatstest track by $index">

                                            <td ng-repeat="c in s track by $index" style="padding: 2px">
                                                <!--<div ng-hide="c.status == 0" ng-style="{'background-color':c.status == 2 ?  'grey': 'green'}" ng-click="AddSeats(c);"></div>-->
                                                <div data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left"> <img src="Images/busimages/Aseat.png" ng-hide="c.status == 0" ng-if="c.status == 1" ng-click="AddSeats(c);" /></div>

                                                <img src="Images/busimages/BSeat.png" ng-hide="c.status == 0" ng-if="c.status == 2" />
                                                <img src="Images/busimages/SSeat.png" ng-hide="c.status == 0" ng-if="c.status == 3" ng-click="AddSeats(c);" data-hover="tooltip" />
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <td>Legend:</td>
                                        </tr>
                                        <tr>
                                            <td><img src="Images/busimages/Aseat.png" style="padding: 5px"> Available seat</td>
                                        </tr>
                                        <tr>
                                            <td><img src="Images/busimages/BSeat.png" style="padding: 5px"> Already booked seat</td>
                                        </tr>
                                        <tr>
                                            <td><img src="Images/busimages/SSeat.png" style="padding: 5px"> Selected seat</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <td id="imgTd" colspan="6">
                                        <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr><td><label>Seat(s):<strong>{{selectedSeatsList}}</strong></label></td></tr>
                                                        <tr><td><label>Total Seat(s):{{count}}</label></td></tr>
                                                        <tr><td><label>Base Fare:{{b.Price}}</label></td></tr>
                                                        <tr><td><label><strong>Total Fare:{{count*b.Price}}</strong></label></td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="actions">
                                                        <button type="button" class="btn btn-primary" ng-click="savedata(b);" ng-if="triptype == 'twoway'">Proceed</button>
                                                        <button type="button" ng-click="savedata(b);" data-target="#Modal-header-primary" data-toggle="modal" class="btn btn-info btn-sm" ng-if="triptype == 'oneway'">Checkout</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="row" style="margin-top:80px;min-height:500px;" ng-show="services.length == 0">
        <div class="row">
            <div class="container boxed-layout">



                <div class="panel-body">
                    <div class="alert alert-danger">No services available. Please refine the search.</div>

                </div>


                <div class="panel panel-default ">
                    <div class="panel-heading ">
                        Edit Search options</div>

                    
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                    <div class="panel-heading" style="background-color:black;text-align:center;text-decoration-color:white">Plan a journey</div>
                                    <div class="panel-body form-actions text-right pal" style="background-color: AliceBlue; " ng-init="testClick();">

                                        <div class="row">

                                            <div class="form-group">
                                                <select class="form-control" ng-options="S.Name for S in Stops track by S.Id" ng-model="S">
                                                    <option value="">Select Source</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-group">
                                                <select class="form-control" ng-options="D.Name for D in Stops track by D.Id" ng-model="D">
                                                    <option value="">Select Destination</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div style="text-align:left">
                                                <p>

                                                    <b><font color="black"> Leaving:</font></b>

                                                    <input id="currTime" value="Now" type="radio" name="timing" ng-model="timing" checked ng-change="ChangeTravelType('0');" /> <font color="black">
                                                        Now
                                                    </font>
                                                    <input id="dtTime" value="Later" type="radio" name="timing" ng-model="timing" ng-change="ChangeTravelType('1');" /> <font color="black"> Change Time</font>

                                                </p>

                                                <div ng-hide="timing == 'Now'" style="display:none">

                                                    <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                                                    <!--<input type="text" name="timepicker" class="timepicker" />-->
                                                </div>
                                                <br />
                                                <div>
                                                    <b><font color="black">Travel Type:</font></b>
                                                    <input value="oneway" type="radio" name="tt" ng-change="RadioChange('oneway')" ng-model="triptype" checked /> <font color="black">
                                                        One way
                                                    </font>
                                                    <input value="twoway" type="radio" name="tt" ng-change="RadioChange('twoway')" ng-model="triptype" /><font color="black"> Two way</font>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group pull-left">
                                                <br />
                                                <a href="UI/traveloptions.html"><font color="blue"> <u>Travel options & accessibility</u></font></a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group pull-left col-lg-12">
                                                <input type="button" ng-click="GetServices();" class="btn btn-blue panel-heading" value="Plan my journey" style="width:100%" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="vertical-button-container">
                                    <a href="UI/Construction.html" class="plain-button">Stations, stops &amp; piers</a>
                                    <a href="UI/Construction.html" class="plain-button">Timetables</a>
                                    <a href="UI/Construction.html" class="plain-button">Help &amp; contacts</a>
                                    <a href="UI/Construction.html" class="plain-button">Shop for Products online</a>
                                    <a href="UI/Construction.html" class="plain-button">Transport accessibility</a>
                                    <a href="UI/Construction.html" class="plain-button">Social media &amp; email updates</a>
                                    <a href="UI/Construction.html" class="plain-button">Interbus Digital Blog</a>
                                </div>


                            </div>
                        </div>
                    
                </div>


            </div>
        </div>


    </div>

    


    <div id="AddReturnDetails" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog" ng-model="currGroup">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Select Return date & Time</h4>
                </div>
                <div class="modal-body">
                   
                    <div class="row">

                        <label for="Fax" class="col-md-4 control-label" style="color: red;float: left">Source:<span class='require'></span></label>
                        <div class="col-md-8"><input id="EmailId" type="text" ng-model="currGroup.EmailId" class="form-control" disabled /><span class="help-block"></span></div>

                    </div>
                    <div class="row">

                        <label for="ContactNo1" class="col-md-4 control-label" style="color: red;float: left">Destination:<span class='require'></span></label>
                        <div class="col-md-8"><input id="ContactNo1" type="text" ng-model="currGroup.ContactNo1" class="form-control" maxlength="10" disabled/><span class="help-block"></span></div>

                    </div>
                    <div class="row">

                        <label for="ContactNo2" class="col-md-4 control-label" style="float:left">Travel date & Time:<span class='require'></span></label>
                        <div class="col-md-8">
                            <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                        </div>
                    </div>
                </div>


                <div class="form-actions">
                    <div style="text-align:center">
                        <button type="button" class="btn btn-green" ng-click="AddReturnDatenTime();">Add return details</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <div id="ModifyJourneydetails" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog" ng-model="currGroup">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Modify journey date & Time</h4>
                </div>
                <div class="modal-body">
                    <h3>Onward journey</h3>
                    <div class="row">

                        <label for="Fax" class="col-md-4 control-label" style="color: red;float: left">Source:<span class='require'></span></label>
                        <div class="col-md-8"><input id="EmailId" type="text" ng-model="currGroup.EmailId" class="form-control" disabled /><span class="help-block"></span></div>

                    </div>
                    <div class="row">

                        <label for="ContactNo1" class="col-md-4 control-label" style="color: red;float: left">Destination:<span class='require'></span></label>
                        <div class="col-md-8"><input id="ContactNo1" type="text" ng-model="currGroup.ContactNo1" class="form-control" maxlength="10" disabled /><span class="help-block"></span></div>

                    </div>
                    <div class="row">

                        <label for="ContactNo2" class="col-md-4 control-label" style="float:left">Travel date & Time:<span class='require'></span></label>
                        <div class="col-md-8">
                            <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                        </div>
                    </div>
                    <!--<h3>Return journey</h3>
                    <div class="row">

                        <label for="Fax" class="col-md-4 control-label" style="color: red;float: left">Source:<span class='require'></span></label>
                        <div class="col-md-8"><input id="EmailId" type="text" ng-model="currGroup.EmailId" class="form-control" disabled /><span class="help-block"></span></div>

                    </div>
                    <div class="row">

                        <label for="ContactNo1" class="col-md-4 control-label" style="color: red;float: left">Destination:<span class='require'></span></label>
                        <div class="col-md-8"><input id="ContactNo1" type="text" ng-model="currGroup.ContactNo1" class="form-control" maxlength="10" disabled /><span class="help-block"></span></div>

                    </div>
                    <div class="row">

                        <label for="ContactNo2" class="col-md-4 control-label" style="float:left">Travel date & Time:<span class='require'></span></label>
                        <div class="col-md-8">
                            <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                        </div>
                    </div>-->

                </div>


                <div class="form-actions">
                    <div style="text-align:center">
                        <button type="button" class="btn btn-green" ng-click="GetServices();">Get Available Services</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div id="Modal-header-primary" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-lg" ng-model="currGroup">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Passenger Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row" ng-repeat="seat in onwarddetails.BookedSeats">


                        <div class="col-md-2">
                            <label for="Name" class="control-label" style="color:red;float:left" ng-if="$index == 0"> Primary passenger:<span class='require'>*</span></label>
                            <label for="Name" class="control-label" style="color:red;float:left" ng-if="$index != 0"> Co-passenger {{$index}}:<span class='require'>*</span></label>

                        </div>
                        <div class="col-md-10" style="text-align:left">
                            <div class="col-md-3"><input id="inputFirstName" type="text" ng-model="seat.FName" class="form-control" placeholder="First Name" /><span class="help-block"></span></div>
                            <div class="col-md-3"><input id="code" type="text" ng-model="seat.LName" class="form-control" placeholder="Last Name" /><span class="help-block"></span></div>

                            <div class="col-md-3">
                                <select class="form-control" ng-model="seat.Age">
                                    <option value="" selected>Age</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" ng-model="seat.Gender">
                                    <option value="" selected>Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Neutral</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-6">
                            <div class="row">

                                <label for="Fax" class="col-md-4 control-label" style="color: red;float: left">E-mail Id:<span class='require'></span></label>
                                <div class="col-md-8"><input id="EmailId" type="text" ng-model="currGroup.EmailId" class="form-control" /><span class="help-block"></span></div>

                            </div>
                            <div class="row">

                                <label for="ContactNo1" class="col-md-4 control-label" style="color: red;float: left">Contact No.1:<span class='require'></span></label>
                                <div class="col-md-8"><input id="ContactNo1" type="text" ng-keypress="filterValue($event)" ng-model="currGroup.ContactNo1" class="form-control" maxlength="10" /><span class="help-block"></span></div>

                            </div>
                            <div class="row">

                                <label for="ContactNo2" class="col-md-4 control-label" style="float:left">Contact No.2:<span class='require'></span></label>
                                <div class="col-md-8">
                                    <input type="text" id="ContactNo2" ng-keypress="filterValue($event)" ng-model="currGroup.ContactNo2" maxlength="10" data-fv-numeric="true" data-fv-numeric-message="Please enter valid phone numbers" data-fv-phone-country11="IN" required="required" data-fv-notempty-message="This field cannot be left blank." class="form-control" name="data[User][mobile]" data-fv-field="data[User][mobile]">
                                    <!--<input id="ContactNo2" type="text" ng-model="currGroup.ContactNo2" class="form-control" maxlength="10" />-->
                                    <span class="help-block">
                                    </span>


                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div>
                                <label for="Address Id" class="col-md-4 control-label" style="color: red; float: left">Address:</label>

                                <div class="col-md-8"><textarea rows="4" class="form-control" ng-model="currGroup.Address"></textarea></div>
                                <br />
                            </div>
                        </div>

                    </div>

                </div>


                <div class="form-actions">
                    <div style="text-align:center">
                        <button type="button" class="btn btn-green" ng-click="ProceedToPayment(currGroup);">Proceed to payment</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="footer" tabindex="0">

                <h2 class="visually-hidden">Site footer</h2>
                <div class="primary-footer r">
                    <h2 class="visually-hidden">About Interbus</h2><ul class="footer-links">
                        <li><a href="Construction.html">Help &amp; contacts</a></li>
                        <li><a class="" href="Construction.html">Careers</a></li>
                        <li><a class="" href="Construction.html">About Interbus</a></li>
                        <li><a class="" href="Construction.html">Safety &amp; security</a></li>
                        <li><a class="" href="Construction.html">Transparency</a></li>
                        <li><a class="" href="Construction.html">Publications &amp; reports</a></li>
                        <li><a class="" href="Construction.html">Gift Shop</a></li>
                        <li><a class="" href="Construction.html">Social media &amp; email updates</a></li>

                        <li><a class="languages-footer" href="Construction.html">Other languages</a></li>
                    </ul><h2 class="heading">Information for...</h2>
                    <ul class="info-for clearfix">
                        <li><a href="Construction.html">Media</a></li>
                        <li><a href="Construction.html">Business &amp; commercial</a></li>
                        <li><a href="Construction.html">Get Support online 24/7</a></li>
                        <li><a href="Construction.html">Schools &amp; young people</a></li>
                        <li><a href="Construction.html">Deliveries in Zimbabwe</a></li>
                        <li><a href="Construction.html">Urban planning & construction</a></li>


                        <li><a href="Construction.html">Taxi &amp; private hire </a></li>


                        <li><a href="Construction.html">Bus operators</a></li>
                        <li><a href="Construction.html">Open data users</a></li>
                        <li><a href="Construction.html">Coach drivers</a></li>
                        <li><a href="Construction.html">Investors</a></li>
                        <li><a href="Construction.html">Download Interbus App</a></li>
                    </ul>
                </div>
                <div class="secondary-footer">
                    <h2 class="visually-hidden">Site structure and legal information</h2>
                    <div class="r">
                        <div class="col-lg-5">
                            <ul>
                                <li><a href="UI/Construction.html">Terms &amp; conditions </a></li>
                                <li><a href="UI/Construction.html">Privacy &amp; cookies</a></li>
                                <li><a href="UI/Construction.html">Website accessibility</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-4">
                            <ul>
                                <li> <a href="www.webingate.com">Powered by www.webingate.com </a></li>
                            </ul>
                            <span class="heading"></span>
                        </div>
                        <div class="col-lg-2">
                            <span class="heading">Copyright © Interbus</span>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>



    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>

    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <script src="js/moment.js"></script>
    <script src="vendors/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->
    <script src="js/transition.js"></script>
    <script src="js/tooltip.js"></script>

    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/Booking.js"></script>


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $('.datetimepicker-disable-date').datetimepicker({
            pickDate: true
        });
    </script>
</body>

</html>



