
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <title>INTERRBUS | Create Fleet Owner</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-1.11.0.min.js"></script>
    <!--<script src="js/Carousle/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>-->
    <script src="js/bootstrap.js"></script>


    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">

    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link href="css/themes/style2/pink-blue.css" rel="stylesheet" />
    <link type="text/css" rel="UI/stylesheet" href="css/style-responsive.css">



</head>

<body ng-model="FleetOwnerRequest1" style="background-image:url(images/one1.jpg)">

    <!--Start Header-->
    <div id="container">

        <!--start of white bar above menu-->
        <!--End of white bar above menu-->
        <!--Start Menu-->
        <div id="container">
            <div class="mainnav" id="mainnav" tabindex="0">

                <div class="top-row clearfix" style="position: fixed; width: 100%; padding-top: 0px; z-index: 1">

                    <div class="r">
                        <div class="rr">
                            <a style="margin-top: 10px; padding-top: 0px; margin-right: 30px; float:left" href="../index.html"><img style="height:26px" src="Images/logos/Idashboard.png" alt="Alternate Text" /></a>
                            <ul class="collapsible-menu clearfix" style="margin-left:0px;">

                                <li style="margin-left:30px">

                                    <a style="text-decoration:none" href="../index.html">Home</a>

                                </li>
                                <li>

                                    <a style="text-decoration:none" href="Fares_and_payments.html">Fares / Payments</a>

                                    <ul>
                                        <li><a href="Schedules.html">Schedules</a></li>
                                        <li><a href="CheckFare.html">CheckFare</a></li>
                                        <li><a href="Cancellation.html">Cancel/Modify ticket</a></li>


                                    </ul>
                                </li>
                                <li>

                                    <a style="text-decoration:none" href="Status_and_Updates.html">Status & Updates</a>

                                </li>
                                <li>

                                    <a style="text-decoration:none" href="#">Products</a>
                                    <ul>
                                        <li><a href="Licensepage.html">Fleet Owner License</a></li>

                                    </ul>
                                </li>

                                <li>

                                    <a style="text-decoration:none" href="AboutUs.html">About Us</a>
                                    <ul>
                                        <li><a href="ContactUs.html">ContactUs</a></li>

                                    </ul>

                                </li>
                                <li style="text-align: left; background-color: gray; margin-left: 30px;min-width:100px;width:180px">
                                    <a ng-hide="username == null" style="text-decoration: none; text-align: left;" href="#">Hi, {{username}}!</a>

                                    <ul style="padding-left:0px">

                                        <li><a href="UserProfile.html"><i class="fa fa-user"></i>My Account</a></li>
                                        <li><a href="BookedTicketHistory.html"><i class="fa fa-calendar"></i>Recent Journey</a></li>
                                        <li><a href="CancelTicket.html"><i class="fa fa-envelope"></i>Cancellation</a></li>
                                        <li><a href="Feedback.html"><i class="fa fa-tasks"></i>Feedback/Enquiry</a></li>

                                        <li><a href="#" ng-click="SignOutUser();"><i class="fa fa-key"></i>Sign Out</a></li>


                                    </ul>


                                </li>
                                <li style="margin-left: 10px; text-align: right; float: right; ">

                                    <div style="float:right; padding-top:11px">
                                        <input type="text" placeholder="Search" id="q" name="q" style="border-radius:30px; width:120px; height:35px" />


                                    </div>


                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="clearfix"></div>

            <!--End Menu-->
        </div>
        <!--End Menu-->

    </div>
    <!--End Header-->

    
       
           
    <div class="panel panel-blue col-lg-8 col-md-offset-2" style="margin-top:80px;padding-left:0px;padding-right:0px">
        <div class="panel-heading col-lg-12">Fleet owner request</div>
        <div class="panel-body pan">
            <form  class="form-horizontal" style="padding:10px">
               
                    <div class="form-body pal">
                        <br />
                        <h4>Personal details</h4>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputFirstName" class="control-label" style="color: red;">First Name:</label>
                                    <div><input style="width:90%" id="inputFirstName" type="text" placeholder="First Name" class="form-control" ng-model="FleetOwnerRequest1.FirstName" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label" style="float:left">Middle Name:</label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="Middle Name" class="form-control" ng-model="FleetOwnerRequest1.MiddleName" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label" style="color: red;">Last Name: </label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.LastName" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputEmail" class="control-label" style="color: red;">Email-Id: </label>
                                    <div>
                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input style="width:90%" type="text" ng-model="FleetOwnerRequest1.EmailAddress" class="form-control" placeholder="Email-Id" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label" style="color: red;">Contact No.: </label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.PhoneNo" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                 
                                        <label for="inputLastName" class="control-label" style="float:left">Alternate No.: </label>
                                        <div><input style="width:90%" id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.AltPhoneNo" /></div>
                                   
                                </div>
                            </div>
                       

                            <div class="col-md-3">
                                <label for="selGender" class="control-label" style="color: red;">Gender: </label>
                                <div>
                                    <select style="width:90%" id="selGender" class="form-control" ng-model="FleetOwnerRequest1.Gender">
                                        <option value="" selected>Select</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="inputLastName" class="control-label" style="color: red;">Address.: </label>
                                        <div>
                                            <textarea rows="2" style="width:90%" ng-model="FleetOwnerRequest1.Address" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <h4>Company details</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputFirstName" class="control-label" style="color: red;">Name: </label>
                                    <div><input style="width:90%" id="inputFirstName" type="text" placeholder="Company Name" class="form-control" ng-model="FleetOwnerRequest1.CompanyName" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label" style="color: red;">Email-Id: </label>
                                    <div><div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input style="width:90%" type="text" ng-model="FleetOwnerRequest1.CmpEmailAddress" class="form-control" placeholder="Email-Id" /></div></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label" style="color: red;">Contact no.:</label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="office contact Number" class="form-control" ng-model="FleetOwnerRequest1.CmpPhoneNo" /></div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputFirstName" class="control-label" style="float:left">Alternate No.: </label>
                                    <div><input style="width:90%" id="inputFirstName" type="text" placeholder="Alternate number" class="form-control" ng-model="FleetOwnerRequest1.CmpAltPhoneNo" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Title </label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="Title" class="form-control" ng-model="FleetOwnerRequest1.CmpTitle" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Caption: </label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="Caption" class="form-control" ng-model="FleetOwnerRequest1.CmpCaption" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Fleet Size: </label>
                                    <div>
                                        <select style="width:90%" class="col-md-12 form-control" ng-model="FleetOwnerRequest1.FleetSize">
                                            <option value="">select fleet size</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Staff size: </label>
                                    <div>
                                        <select style="width:90%" class="col-md-12 form-control" ng-model="FleetOwnerRequest1.StaffSize">
                                            <option value="">select Staff size</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputFirstName" class="control-label" style="color: red;">Country:</label>
                                    <div>
                                        <select style="width:90%" class="col-md-12 form-control" ng-model="FleetOwnerRequest1.Country">
                                            <option value="">select Country</option>
                                            <option value="245">Zimbabwe</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label" style="color: red;">State/Province: </label>
                                    <div>
                                        <select style="width:90%" class="col-md-12 form-control" ng-model="FleetOwnerRequest1.state">
                                            <option value="">select State/Province</option>
                                            <option value="1">Bulawayo</option>
                                            <option value="2">Harare</option>
                                            <option value="3">Manicaland</option>
                                            <option value="4">Mashonaland Central</option>
                                            <option value="5">Mashonaland East</option>
                                            <option value="6">Mashonaland West</option>
                                            <option value="7">Masvingo</option>
                                            <option value="8">Matabeleland North</option>
                                            <option value="9">Matabeleland South</option>
                                            <option value="10">Midlands</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Zipcode: </label>
                                    <div><input style="width:90%" id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.ZipCode" /></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inputFirstName" class="control-label">Fax: </label>
                                    <div><input style="width:90%" id="inputFirstName" type="text" placeholder="Fax" class="form-control" ng-model="FleetOwnerRequest1.CmpFax" /></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                 
                                        <label for="inputLastName" class="control-label" style="color: red;">Address: </label>
                                        <div>
                                            <textarea style="width:90%" rows="3" ng-model="FleetOwnerRequest1.CmpAddress" class="form-control"></textarea>
                                        </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    
                                        <label for="inputLastName" class="control-label">Alternate Address.: </label>
                                        <div>
                                            <textarea style="width:90%" rows="3" ng-model="FleetOwnerRequest1.CmpAltAddress" class="form-control"></textarea>
                                        </div>
                                  
                                </div>
                            </div>                            
                        </div>
                       
                        <h4>General details</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">Current system in use.: </label>
                                    <div><input style="width:90%" type="text" ng-model="FleetOwnerRequest1.CurrentSystemInUse" class="form-control" /></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputLastName" class="control-label">how did you hear about us</label>
                                    <div>
                                        <select style="width:90%" class="form-control" ng-model="FleetOwnerRequest1.howdidyouhearaboutus">
                                            <option value="">Select</option>
                                            <option value="Friends">Friends</option>
                                            <option value="Paper Advertisement">Paper Advertisement</option>
                                            <option value="Social Media">Social Media</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div style="text-align:center">

                                        <input style="width:90%" type="checkbox" ng-model="FleetOwnerRequest1.SendNewProductsEmails" />&nbsp;&nbsp;Send New Products Emails:


                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>Terms and Conditions agreement</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input style="width:90%" type="checkbox" ng-model="FleetOwnerRequest1.Agreetotermsandconditions" />&nbsp;
                                        Agree to terms and conditions

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions pal" style="text-align:center">
                        <button class="btn btn-green" ng-click="save(FleetOwnerRequest1, 'I')">Submit</button>
                        &nbsp;
                        <button type="button" class="btn btn-danger">Reset</button>
                    </div>
               
            </form>

        </div>
    </div>

    

    <div class="row">
        <div class="col-lg-12">
            <div id="footer" tabindex="0">

                <h2 class="visually-hidden">Site footer</h2>
                <div class="primary-footer r">
                    <h2 class="visually-hidden">About Interbus</h2><ul class="footer-links">
                        <li><a href="Construction.html">Help &amp; contacts</a></li>
                        <li><a class="" href="Construction.html">Careers</a></li>
                        <li><a class="" href="Construction.html">About Interbus</a></li>
                        <li><a class="" href="Construction.html">Safety &amp; security</a></li>
                        <li><a class="" href="Construction.html">Transparency</a></li>
                        <li><a class="" href="Construction.html">Publications &amp; reports</a></li>
                        <li><a class="" href="Construction.html">Gift Shop</a></li>
                        <li><a class="" href="Construction.html">Social media &amp; email updates</a></li>

                        <li><a class="languages-footer" href="Construction.html">Other languages</a></li>
                    </ul><h2 class="heading">Information for...</h2>
                    <ul class="info-for clearfix">
                        <li><a href="Construction.html">Media</a></li>
                        <li><a href="Construction.html">Business &amp; commercial</a></li>
                        <li><a href="Construction.html">Get Support online 24/7</a></li>
                        <li><a href="Construction.html">Schools &amp; young people</a></li>
                        <li><a href="Construction.html">Deliveries in Zimbabwe</a></li>
                        <li><a href="Construction.html">Urban planning & construction</a></li>


                        <li><a href="Construction.html">Taxi &amp; private hire </a></li>


                        <li><a href="Construction.html">Bus operators</a></li>
                        <li><a href="Construction.html">Open data users</a></li>
                        <li><a href="Construction.html">Coach drivers</a></li>
                        <li><a href="Construction.html">Investors</a></li>
                        <li><a href="Construction.html">Download Interbus App</a></li>
                    </ul>
                </div>
                <div class="secondary-footer">
                    <h2 class="visually-hidden">Site structure and legal information</h2>
                    <div class="r">
                        <div class="col-lg-5">
                            <ul style="padding-left:0px">
                                <li><a href="Construction.html">Terms &amp; conditions </a></li>
                                <li style="padding-left:10px"><a href="Construction.html">Privacy &amp; cookies</a></li>
                                <li style="padding-left:10px"><a href="Construction.html">Website accessibility</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-4" style="text-align:left">
                            <ul>
                                <li> <a href="http://www.webingate.com" target="_blank">Powered by www.webingate.com </a></li>
                            </ul>
                            <span class="heading"></span>
                        </div>
                        <div class="col-lg-3">
                            <span class="heading">Copyright © Interbus</span>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="statusPopup.html" data-backdrop="static">

        <div class="modal-header">
            <h3 class="modal-title">Information!</h3>
        </div>
        <div class="modal-body">
            <h3> {{mssg}}
                <div ng-hide="status==1" ng-show="status==0"><br /><a href="LicensePage.html" style="color:red">Click here</a> to proceed to license buying</div>               
            </h3>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>



    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>

    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>
    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->

    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/fileupload/angular-file-upload.js"></script>
    <script src="js/fileupload/angular-file-upload-shim.js"></script>

    <script src="js/CreateFleetOwner.js"></script>

    <script src="js/fileupload/Upload.js"></script>   
</body>

</html>

