
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
    <title>INTERRBUS | Create Fleet Owner</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <!-- links for table -->

    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->

    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">

    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style2/pink-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/Main.css">


    <!-- Optional theme -->

    <link rel="stylesheet" href="css/bootstrap-theme.min.css">



    <!-- Latest compiled and minified JavaScript -->



    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="HandheldFriendly" content="True">

    <script type="text/javascript">

        var h = document.documentElement;
        h.className = h.className.replace(/\bno-js\b/, '');
        var isTouch = !!("ontouchstart" in window) || window.navigator.msMaxTouchPoints > 0;
        if (isTouch) {
            // remove class which defines hover behavior
            h.className = h.className.replace(/\bno-touch\b/, '');
        }
    </script>
    <script src="js/bootstrap.min.js"></script>

    <link href="css/StyleSheet2.css" media="screen,print" rel="stylesheet" />
    <link href="css/StyleSheet1.css" media="screen,print" rel="stylesheet" />
    <link href="css/StyleSheet4.css" media="screen,&#32;print" rel="stylesheet" />
    <link href="css/StyleSheet3.css" media="screen&#32;and&#32;(min-width:&#32;580px),print" rel="stylesheet" />
    <link href="css/StyleSheet5.css" media="screen&#32;and&#32;(min-width:&#32;900px)" rel="stylesheet" />
    <!--<link href="/cdn/static/styles/core/min/print.min.bbf3e026.css" media="print" rel="stylesheet" />-->
    <link href="css/StyleSheet6.css" media="screen" rel="stylesheet" />
    <style>
        rr.div a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 15px;
            display: inline-block;
        }

        .rr ul {
            display: inline;
            margin: 0;
            padding: 0;
        }


            .rr ul li {
                display: inline-block;
                color: white;
            }

                .rr ul li:hover {
                    background: #555;
                }

                    .rr ul li:hover ul {
                        display: block;
                    }

                .rr ul li ul {
                    position: absolute;
                    width: 100px;
                    display: none;
                }

                    .rr ul li ul li {
                        background: #555;
                        display: block;
                        border-bottom: 1px solid white;
                        width: 170px;
                    }

                        .rr ul li ul li a {
                            display: block !important;
                            text-decoration: none;
                        }

                        .rr ul li ul li:hover {
                            background: #666;
                        }

                        .rr ul li ul li a:hover {
                            text-decoration: none;
                        }
    </style>


</head>

<body ng-model="FleetOwnerRequest1" style="background-image:url(images/one1.jpg)">

    <!--Start Header-->
    <div id="container">

        <!--start of white bar above menu-->
        <!--End of white bar above menu-->
        <!--Start Menu-->
        <div class="mainnav" id="mainnav" tabindex="0">

            <div class="top-row" style="position:fixed; width:100%; z-index:1">

                <div class="r">
                    <div class="rr" style="width:94%">
                        <a style="margin-top: 0px; padding-top: 0px; margin-left: 35px; float:left" href="../index.html"><img style="height:76px; border-right:1px solid #D0D0D0 ;border-bottom:1px solid #D0D0D0 ; border-left:1px solid #D0D0D0 " src="Images/logos/interbusLogo.png" alt="Alternate Text" /> </a>
                        <ul class="collapsible-menu clearfix" style="margin-left:0px;height:76px">

                            <li>

                                <a style="text-decoration:none" href="../index.html">Home</a>

                            </li>
                            <li>

                                <a class="active" style="text-decoration:none" href="Fares_and_payments.html">Fares / Payments</a>

                                <ul>
                                    <li><a href="Schedules.html">Schedules</a></li>
                                    <li><a href="CheckFare.html">CheckFare</a></li>
                                    <li><a href="Cancel_Ticket.html">Cancellation</a></li>


                                </ul>
                            </li>
                            <li>

                                <a style="text-decoration:none" href="Status_and_Updates.html">Status & Updates</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="#">Products</a>
                                <ul>
                                    <li><a href="Licensepage.html">Fleet Owner License</a></li>

                                </ul>
                            </li>

                            <li>

                                <a style="text-decoration:none" href="About.html">About Us</a>
                                <ul>
                                    <li><a href="Contact.html">ContactUs</a></li>

                                </ul>

                            </li>


                        </ul>
                        <div style="float:right; padding-top:11px">
                            <input type="text" placeholder="Search.." id="q" name="q" style="border-radius: 30px; width: 120px; height: 35px; color: red;" />


                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--End Menu-->

    </div>
    <!--End Header-->

    <div id="tab-two-columns-horizontal" class="panel col-md-8 col-md-offset-2" style="margin-top:80px">
        <div class="row">
           
                <div class="panel panel-blue">
                    <div class="panel-heading">Fleet owner request</div>
                    <div class="panel-body pan">
                        <form action="#" class="form-horizontal">
                            <div class="form-body pal">
                                <h3>Personal details</h3>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="col-md-3 control-label" style="color: red;">First Name:</label>
                                            <div class="col-md-8"><input id="inputFirstName" type="text" placeholder="First Name" class="form-control" ng-model="FleetOwnerRequest1.FirstName" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label" style="float:left">Middle Name:</label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Middle Name" class="form-control" ng-model="FleetOwnerRequest1.MiddleName" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label" style="color: red;">Last Name: </label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.LastName" /></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-md-3 control-label" style="color: red;">Email-Id: </label>
                                            <div class="col-md-8">
                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="text" ng-model="FleetOwnerRequest1.EmailAddress" class="form-control" placeholder="Email-Id" /></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label" style="color: red;">Contact No.: </label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.PhoneNo" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-md-3 control-label" style="float:left">Alternate No.: </label>
                                                <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.AltPhoneNo" /></div>
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <label for="selGender" class="col-md-3 control-label" style="color: red;" ng-model="FleetOwnerRequest1.Gender">Gender: </label>
                                        <div class="col-md-8">
                                            <select id="selGender" class="form-control">
                                                <option value="" selected>Select</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-md-3 control-label" style="color: red;">Address.: </label>
                                                <div class="col-md-8">
                                                    <textarea rows="3" ng-model="FleetOwnerRequest1.Address" class="form-control"></textarea>
                                                </div>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="Address Id" class="col-md-3 control-label" style="float:left">Photo:</label>
                                        <div class="form-group">

                                            <!--<div class="text-center mbl"><img src="images/user.jpg" style="width:50px;height:50px" alt="" class="img-responsive" /></div>-->
                                            <div class="col-md-8">
                                                <div class="col-md-6" style="text-align:left">
                                                    <img id="userNewLogo" ng-src="{{imageUserSrc}}" width="120px" height="100px" />
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-green" ng-click="UploadUserImg();" style="margin-top:5px">
                                                        <i class="fa fa-upload"></i>&nbsp;
                                                        Upload
                                                    </button>
                                                    <button class="btn btn-red" ng-click="clearUserImg();" style="margin-top:5px">
                                                        <i class="fa fa-upload"></i>&nbsp;
                                                        Remove
                                                    </button>

</div>

                                            </div>

                                            <input type="file" name="fileInput" id="fileInput" ng-file-select="onFileSelect($files)" class="btn btn-green" accept=".jpg,.png,.gif,.jpeg" style="display:none" ng-model="$scope.imageUserSrc" ng-change="setimg();" />
                                        </div>
                                    </div>
                                </div>
                               
                                
                                
                                <br />
                                <h3>Company details</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="col-md-3 control-label" style="color: red;" >Name: </label>
                                            <div class="col-md-8"><input id="inputFirstName" type="text" placeholder="Company Name" class="form-control" ng-model="FleetOwnerRequest1.CompanyName" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label" style="color: red;">Email-Id: </label>
                                            <div class="col-md-8"><div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="text" ng-model="FleetOwnerRequest1.CmpEmailAddress" class="form-control" placeholder="Email-Id" /></div></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label" style="color: red;">Contact no.:</label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="office contact Number" class="form-control" ng-model="FleetOwnerRequest1.CmpPhoneNo" /></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="col-md-3 control-label" style="float:left">Alternate No.: </label>
                                            <div class="col-md-8"><input id="inputFirstName" type="text" placeholder="Alternate number" class="form-control" ng-model="FleetOwnerRequest1.CmpAltPhoneNo" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label">Title </label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Title" class="form-control" ng-model="FleetOwnerRequest1.CmpTitle" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label">Caption: </label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Caption" class="form-control" ng-model="FleetOwnerRequest1.CmpCaption" /></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="col-md-3 control-label">Fax: </label>
                                            <div class="col-md-8"><input id="inputFirstName" type="text" placeholder="Fax" class="form-control" ng-model="FleetOwnerRequest1.CmpFax" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label">Fleet Size: </label>
                                            <div class="col-md-8"><select class="col-md-12 form-control" ng-model="FleetOwnerRequest1.FleetSize">
    <option value="">select fleet size</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>

</select></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label">Staff size: </label>
                                            <div class="col-md-8"><select class="col-md-12 form-control" ng-model="FleetOwnerRequest1.StaffSize">
    <option value="">select Staff size</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>

</select></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputFirstName" class="col-md-3 control-label" style="color: red;">Country:</label>
                                            <div class="col-md-8"><select class="col-md-12 form-control" ng-model="FleetOwnerRequest1.Country">
    <option value="">select Country</option>
    <option value="245">Zimbabwe</option>
</select></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label" style="color: red;">State/Province: </label>
                                            <div class="col-md-8"><select class="col-md-12 form-control" ng-model="FleetOwnerRequest1.state">
    <option value="">select State/Province</option>
    <option value="1">Bulawayo</option>
    <option value="2">Harare</option>
    <option value="3">Manicaland</option>
    <option value="4">Mashonaland Central</option>
    <option value="5">Mashonaland East</option>
    <option value="6">Mashonaland West</option>
    <option value="7">Masvingo</option>
    <option value="8">Matabeleland North</option>
    <option value="9">Matabeleland South</option>
    <option value="10">Midlands</option>

</select></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-3 control-label">Zipcode: </label>
                                            <div class="col-md-8"><input id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="FleetOwnerRequest1.ZipCode" /></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-md-3 control-label" style="color: red;">Address.: </label>
                                                <div class="col-md-8">
                                                    <textarea rows="3" ng-model="FleetOwnerRequest1.CmpAddress" class="form-control" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-md-3 control-label">Alternate Address.: </label>
                                                <div class="col-md-8">
                                                    <textarea rows="3" ng-model="FleetOwnerRequest1.CmpAltAddress" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-md-4">
                                        <label for="Address Id" class="col-md-3 control-label">Photo:</label>
                                        <div class="form-group">

                                            <!--<div class="text-center mbl"><img src="images/user.jpg" style="width:50px;height:50px" alt="" class="img-responsive" /></div>-->
                                            <div class="col-md-8">
                                                <div class="col-md-6" style="text-align:left">
                                                    <img id="cmpNewLogo" ng-src="{{imageSrc}}" width="120px" height="100px" />
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-green" ng-click="UploadImg();" style="margin-top:5px">
                                                        <i class="fa fa-upload"></i>&nbsp;
                                                        Upload
                                                    </button>
                                                    <button class ="btn btn-danger" ng-click="clearImg();" style="margin-top:5px">
                                                        <i class="fa fa-upload"></i>&nbsp;
                                                        Remove
                                                        </button>

</div>

                                            </div>

                                            <input type="file" name="fileInput" id="fileInput" ng-file-select="onFileSelect($files)" class="btn btn-green" accept=".jpg,.png,.gif,.jpeg" style="display:none" ng-model="$scope.imageSrc" ng-change="setimg();" />
                                        </div>
                                    </div>
                                    </div>
                                <br />
                                <h3>General details</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-6 control-label">Current system in use.: </label>
                                            <div class="col-md-6"><input type="text" ng-model="FleetOwnerRequest1.CurrentSystemInUse" class="form-control" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputLastName" class="col-md-6 control-label">how did you hear about us</label>
                                                <div class="col-md-6">
                                                    <select class="form-control" ng-model="FleetOwnerRequest1.howdidyouhearaboutus">
                                                        <option value="">Select</option>
                                                        <option value="Friends">Friends</option>
                                                        <option value="Paper Advertisement">Paper Advertisement</option>
                                                        <option value="Social Media">Social Media</option>
                                                    </select>
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-12" style="text-align:center">

                                                <input type="checkbox" ng-model="FleetOwnerRequest1.SendNewProductsEmails" />&nbsp;&nbsp;Send New Products Emails:


                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                                
                                <br />
                                <h3>Terms and Conditions agreement</h3>
                                <div class="row">                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox">

                                                <input type="checkbox" ng-model="FleetOwnerRequest1.Agreetotermsandconditions" />&nbsp;
                                                Agree to terms and conditions

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions text-right pal">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                &nbsp;
                                <button type="button" class="btn btn-green">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
           
        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-12">
            <div id="footer" tabindex="0">

                <h2 class="visually-hidden">Site footer</h2>



                <div class="primary-footer r">
                    <h2 class="visually-hidden">About Interbus</h2><ul class="footer-links">
                        <li><a href="Construction.html">Help &amp; contacts</a></li>
                        <li><a class="" href="Construction.html">Careers</a></li>
                        <li><a class="" href="Construction.html">About Interbus</a></li>
                        <li><a class="" href="Construction.html">Safety &amp; security</a></li>
                        <li><a class="" href="Construction.html">Transparency</a></li>
                        <li><a class="" href="Construction.html">Publications &amp; reports</a></li>
                        <li><a class="" href="Construction.html">Gift Shop</a></li>
                        <li><a class="" href="Construction.html">Social media &amp; email updates</a></li>

                        <li><a class="languages-footer" href="Construction.html">Other languages</a></li>
                    </ul><h2 class="heading">Information for...</h2>
                    <ul class="info-for clearfix">
                        <li><a href="Construction.html">Media</a></li>
                        <li><a href="Construction.html">Business &amp; commercial</a></li>
                        <li><a href="Construction.html">Get Support online 24/7</a></li>
                        <li><a href="Construction.html">Schools &amp; young people</a></li>
                        <li><a href="Construction.html">Deliveries in Zimbabwe</a></li>
                        <li><a href="Construction.html">Urban planning & construction</a></li>


                        <li><a href="Construction.html">Taxi &amp; private hire </a></li>


                        <li><a href="Construction.html">Bus operators</a></li>
                        <li><a href="Construction.html">Open data users</a></li>
                        <li><a href="Construction.html">Coach drivers</a></li>
                        <li><a href="Construction.html">Investors</a></li>
                        <li><a href="Construction.html">Download Interbus App</a></li>
                    </ul>
                </div>
                <div class="secondary-footer">
                    <h2 class="visually-hidden">Site structure and legal information</h2><div class="r">
                        <ul>
                            <li><a href="Construction.html">Terms &amp; conditions </a></li>
                            <li><a href="Construction.html">Privacy &amp; cookies</a></li>
                            <li><a href="Construction.html">Website accessibility</a></li>
                        </ul>
                        <span class="heading">Copyright Interbus</span>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
        
    </div>
    <script type="text/ng-template" id="statusPopup.html" data-backdrop="static">

        <div class="modal-header">
            <h3 class="modal-title">Information!</h3>
        </div>
        <div class="modal-body">
            <h3> {{mssg}}
                <div ng-hide="status==1" ng-show="status==0"><br /><a href="LicensePage.html" style="color:red">Click here</a> to proceed to license buying</div>               
            </h3>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>



    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>

    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>
    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->

    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/CreateFleetOwner.js"></script>
</body>

</html>

