
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<!--<![endif]-->
<head>

    <link rel="stylesheet" href="css/w3.css">
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme -->

    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <title>Interbus - Get Moving Anywhere, Comfortably</title>

    <link href="css/themes/style2/pink-blue.css" rel="stylesheet" />

    <link href="css/StyleSheet2.css" media="screen,print" rel="stylesheet" />
    <link href="css/StyleSheet1.css" media="screen,print" rel="stylesheet" />
    <link href="css/StyleSheet4.css" media="screen,&#32;print" rel="stylesheet" />
    <link href="css/StyleSheet3.css" media="screen&#32;and&#32;(min-width:&#32;580px),print" rel="stylesheet" />
    <link href="css/StyleSheet5.css" media="screen&#32;and&#32;(min-width:&#32;900px)" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/wickedpicker.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-datepicker/css/datepicker.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!--<link type="text/css" rel="stylesheet" href="vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">-->
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="js/wickedpicker.min.js"></script>
    <style>
        rr.div a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 15px;
            display: inline-block;
        }

        .rr ul {
            display: inline;
            margin: 0;
            padding: 0;
        }


            .rr ul li {
                display: inline-block;
                color: white;
            }

                .rr ul li:hover {
                    background: #555;
                }

        .rr .active {
            background: #555;
        }


        .rr ul li:hover ul {
            display: block;
        }

        .rr ul li ul {
            position: absolute;
            width: 100px;
            display: none;
        }

            .rr ul li ul li {
                background: #555;
                display: block;
                border-bottom: 1px solid white;
                width: 170px;
            }

                .rr ul li ul li a {
                    display: block !important;
                    text-decoration: none;
                }

                .rr ul li ul li:hover {
                    background: #666;
                }

                .rr ul li ul li a:hover {
                    text-decoration: none;
                }
    </style>

  

    <script type="text/javascript">
        var h = document.documentElement;
        h.className = h.className.replace(/\bno-js\b/, '');
        var isTouch = !!("ontouchstart" in window) || window.navigator.msMaxTouchPoints > 0;

        if (isTouch) {
            // remove class which defines hover behavior
            h.className = h.className.replace(/\bno-touch\b/, '');
        }
    </script>
   
</head>

<body ng-init="GetStops();">

    <!--start header-->
    <div class="parentDisable">
        <div id="container">

            <!--Start Menu -->
            <div class="mainnav" id="mainnav" tabindex="0">

                <div class="top-row" style="position:fixed; width:100%; z-index:1">

                    <div class="r">
                        <div class="rr">
                            <a style="margin-top: 0px; padding-top: 0px; margin-right: 50px; float:left" href="index.html"><img style="height:56px" src="Images/logos/interbusLogo.png" alt="Alternate Text" /> </a>
                            <ul class="collapsible-menu clearfix" style="margin-left:0px;">

                                <li style="margin-left:22px">

                                    <a style="text-decoration:none" href="index.html">Home</a>

                                </li>
                                <li>

                                    <a style="text-decoration:none" href="Fares_and_payments.html">Fares / Payments</a>

                                    <ul>
                                        <li><a href="#">Schedules</a></li>
                                        <li><a href="#">CheckFare</a></li>
                                        <li><a href="#">Cancellation</a></li>
                                    </ul>

                                </li>
                                <li>

                                    <a style="text-decoration:none" href="Status_and_Updates.html">Status & Updates</a>

                                </li>
                                <li>

                                    <a style="text-decoration:none" href="#">Products</a>
                                    <ul ng-repeat="t in licenses">
                                        <div>
                                            <li id="{{t.Id}}"><a href="Licensepage.html">{{t.Name}}</a></li>
                                        </div>
                                        <!--<li><a href="Licensepage.html">Fleet Owner Lisence</a></li>
                                        <li><a href="Licensepage.html">BTPOS Lisence</a></li>
                                        <li><a href="Licensepage.html">TroubleTicket Lisence</a></li>
                                    </ul>-->
                                    <ul>
                                    
        
                                        <li><a href="Licensepage.html">Fleet Owner Lisence</a></li>
                                        <li><a href="Licensepage.html">BTPOS Lisence</a></li>
                                        <li><a href="Licensepage.html">Advertisement Lisence</a></li>
                                        <li><a href="Licensepage.html">TroubleTicket Lisence</a></li>
                                    </ul>
                                </li>

                                <li>

                                    <a style="text-decoration:none" href="#">About Us</a>
                                    <ul>
                                        <li><a href="#">ContactUs</a></li>

                                    </ul>

                                </li>

                                <li style="margin-left:150px">

                                    <div style="float:right; padding-top:11px">
                                        <input type="text" placeholder="Search" id="q" name="q" style="border-radius:30px; width:120px; height:35px" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <!--End Menu-->

        </div>
        <div class="clearfix"></div>
        <!--End header-->

        <div id="main-hero" style="margin-top:58px">
            <!--<img class="mySlides" src="Images/promos/bus4.jpg" style="width:100%; height:350px;">
            <img class="mySlides" src="Images/promos/bus1.jpg" style="width:100%; height:350px;">
            <img class="mySlides" src="Images/promos/bus6.jpg" style="width:100%; height:350px;">
            <img class="mySlides" src="Images/promos/bus3.jpg" style="width:100%; height:350px;">--> 

            <img class="mySlides" src="Images/3.png" style="width:100%; height:350px;">
            <img class="mySlides" src="Images/4.png" style="width:100%; height:350px;">
            <img class="mySlides" src="Images/IMG-20160616-WA0012.jpg" style="width:100%; height:350px;">
            <img class="mySlides" src="Images/IMG-20160616-WA0013.jpg" style="width:100%; height:350px;"> 
            <img class="mySlides" src="images/IMG-20160616-WA0016.jpg" style="width:100%; height:350px;"> 
            <img class="mySlides" src="images/IMG-20160616-WA0007.jpg" style="width:100%; height:350px;"> 
        </div>

        <div class="main-and-aside one-row r">
            <!--plan journey form-->
            <div class="aside">
                <div class="widget-wrapper homepage-style">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading primary">
                                <div class="controls">&nbsp;</div>
                                <div class="section-style">Plan a journey</div>
                            </div>

                            <div class="start-hidden widget-content journey-planner-widget">
                                <form autocomplete="off" action="booking.html" class="publictransport">
                                    <div class="journey-form">
                                        <div class="basic-journey-options">
                                            <div id="plan-a-journey">

                                                <fieldset>
                                                    <div class="from-and-to clearfix">

                                                        <div class="geolocation-box clearfix">

                                                            <label class="heading&#32;visually-hidden" for="InputFrom">From</label>

                                                            <select class="form-control" ng-options="S.Name for S in Stops track by S.Id" ng-model="S">
                                                                <option value="">Select Source</option>
                                                            </select>

                                                        </div>

                                                        <div id="search-filter-form-1">
                                                            <label class="heading&#32;visually-hidden" for="InputTo">To</label>
                                                            <select class="form-control" ng-options="D.Name for D in Stops track by D.Id" ng-model="D">
                                                                <option value="">Select Destination</option>
                                                            </select>

                                                        </div>

                                                    </div>

                                                    <div class="time-options clearfix">

                                                        <div class="time-defaults">

                                                            <p>

                                                                <strong>Leaving:</strong>

                                                                <span>now</span>

                                                            </p>

                                                            <a class="change-departure-time" href="">change time</a>

                                                            
                                                            <input type="text" name="timepicker" class="timepicker" />

                                                        </div>

                                                    </div>
                                                        <input ng-model="result" value="1" type="radio" name="triptype"/> One Way
                                                        <input ng-model="result" value="2" type="radio" name="triptype"/> Two Way
                                                  

                                                    <div class="extra-options clearfix">

                                                        <a class="toggle-options more-options" href="#" />Travel options & accessibility</a>

                                                    </div>

                                                    <input type="button" ng-click="GetServices();" class="primary-button plan-journey-button" value="Plan my journey" />

                                                    <a style="margin-top:10px" href="BookedTicketHistory.html" class="primary-button plan-journey-button"> Recent Journeys</a>

                                                </fieldset>

                                            </div>

                                        </div>

                                    </div>

                                    <input id="IsMultipleJourneySelection" name="IsMultipleJourneySelection" type="hidden" value="False" />

                                    <input id="JourneyType" name="JourneyType" type="hidden" value="" />

                                    <input id="IsPastWarning" name="IsPastWarning" type="hidden" value="False" />

                                </form>

                            </div>

                        </div>

                    </div>

                </div>


                <div data-set="reserved-teaser" class="large tertiary-teaser">

                    <div class="moving-source-order">

                        <div class="news-teaser">

                            <a href="">
                                <div class="text-link">

                                    <h2>Fleet owner adverts </h2>

                                    <p>Find out about upcoming works or events across London which may affect your journey</p>

                                </div>

                            </a>

                        </div>

                    </div>

                </div>
                <div data-set="reserved-teaser" class="large tertiary-teaser">

                    <div class="moving-source-order">

                        <div class="news-teaser">

                            <a href="">
                                <div class="text-link">

                                    <h2>Fleet owner adverts </h2>

                                    <p>Find out about upcoming works or events across London which may affect your journey</p>
                                    <p>Find out about upcoming works or events across London which may affect your journey</p>
                                    <p>Find out about upcoming works or events across London which may affect your journey</p>

                                </div>

                            </a>

                        </div>

                    </div>

                </div>

                <div class="large">

                    <div class="news-teaser">

                        <a href="">

                            <div class="text-link">

                                <h2>Fleet owner adverts </h2><p>You can now use Android Pay to pay as you go. Find out more</p>

                            </div>

                        </a>

                    </div>

                </div>

            </div>

            <div class="main">

                <div class="sub-main">


                    <div class="secondary-teaser">

                        <div class="news-teaser">

                            <a href="">

                                <img src="Images/promos/thames-clipper_rdax_400x200.jpg" alt="Site visit from Tfl staff, construction site in Blackfriars, London" />
                                <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                            </a>

                        </div>

                    </div>
                    <div data-set="reserved-teaser" class="small-medium tertiary-teaser"></div>

                    <div class="medium-large">

                        <div class="news-teaser">

                            <a href="">

                                <div class="text-link">

                                    <h2>Travel Voucher</h2><p>
                                        Get a travel Voucher  or  View routes and buses on
                                        Promotion in and around Zimbabwe
                                    </p>

                                </div>

                            </a>

                        </div>

                    </div>

                    <div class="large">

                        <div class="news-teaser">

                            <a href="">

                                <div class="text-link">

                                    <h2>Payment Methods</h2><p>Electronic notice board for new payment methods or routes</p>

                                </div>

                            </a>

                        </div>

                    </div>

                    <div data-set="reserved-teaser" class="large tertiary-teaser">

                        <div class="moving-source-order">

                            <div class="news-teaser">

                                <a href="">

                                    <img src="Images/promos/thames-clipper_rdax_400x200.jpg" alt="Central London traffic" />

                                    <div class="text-link">



                                        <p>
                                            Find out about upcoming works or events across Zimbabwe which may affect your journey.
                                            Events across Zimbabwe which may affect your journey
                                        </p>

                                    </div>

                                </a>

                            </div>

                        </div>

                    </div>

                </div>


                <div class="sub-main" ng-model="type">
                    <!--Div for pop up starts-->
                    <!---->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title" style="text-align:center">Login</h3>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <label>Email / Username</label><input type="text" class="form-control" ng-model="UserName" />

                                        <label>Password</label><input type="text" class="form-control" ng-model="Password" />
                                        <br />
                                        <div class="dropdown">
                                            <button class="btn btn-info btn-lg" type="button" data-toggle="dropdown">
                                                Login As
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">

                                                <li><a href="#">Guest</a></li>
                                                <li><a href="#">Admin</a></li>
                                                <li><a href="#">Passenger</a></li>
                                                <li><a href="#">Fleet Owner</a></li>
                                            </ul>
                                        </div><br />

                                        <div>
                                            <input type="checkbox" id="check" />

                                            <label for="remember">Remember me on this computer </label>

                                        </div>

                                        <div class="action_btns">

                                            <div class="one_half last" style="margin-left:150px">
                                                <div class="btn btn_red" ng-click="Signin()">
                                                    Login
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a href="resetpassword.html" style="text-align:center" class="forgot_password">Forgot password?</a>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---->

                    <div class="main-services">
                        <div class="section-style-login">
                            <a style="text-decoration:none; color:#CCCCCC" href="" data-toggle="modal" data-target="#myModal"><img src="Images/login.png" />Login</a>
                            <!--<a style="text-decoration:none; color:#CCCCCC" href="#modal" id="modal_trigger"><img src="Images/login.png" />Login</a>-->
                            <a style="text-decoration:none; color:#CCCCCC" href="">Or</a>
                            <a style="text-decoration:none; color:#CCCCCC" href="Registration.html">Create and Account</a>
                        </div>
                        <!--<div data-set="reserved-teaser" class="large tertiary-teaser">
                            <div style="background-color:#f8f7f7">
                                <h3 align="center" style="padding-top:5px">Need a New Fleet Owner License?</h3>
                                <p align="center" style="padding-bottom:5px"> <a href="Licensepage.html" class="btn btn-info" role="button">Click Here..</a></p>

                            </div>

                        </div>-->
                        <div class="clearfix">

                            <a href="/fares-and-payments/oyster" class="flat-button top-icon">

                                <img src="Images/logos/oyster-homepage-icon.png" alt="" />

                                Top up <br />InterbusGo Card

                            </a><a href="/modes/driving/congestion-charge" class="flat-button top-icon">

                                <img src="Images/logos/congestion-homepage-charge-icon.png" alt="" /> Check In
                            </a>

                        </div>
                        <div class="clearfix">

                            <a href="/modes/cycling/santander-cycles" class="flat-button top-icon">

                                <img src="Images/logos/cycle-hire-homepage-icon.png" alt="" />

                                Download InterbusGo App

                            </a><a href="/modes/emirates-air-line/" class="flat-button top-icon">

                                <img src="Images/logos/airline-homepage-icon.png" alt="" /> Inquiries
                            </a>

                        </div>

                    </div>

                    <div data-set="reserved-teaser" class="large tertiary-teaser">

                        <div class="moving-source-order">

                            <div class="news-teaser">

                                <a href="">

                                    <img src="Images/promos/thames-clipper_rdax_400x200.jpg" alt="Central London traffic" />

                                    <div class="text-link">

                                        <h2>Major works and Events</h2>

                                        <p>Find out about upcoming works or events across Zimbabwe which may affect your journey</p>

                                    </div>

                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="vertical-button-container">

                        <a href="/travel-information/stations-stops-and-piers/" class="plain-button">Stations, stops &amp; piers</a>

                        <a href="/travel-information/timetables/" class="plain-button">Timetables</a>

                        <a href="/help-and-contact/" class="plain-button">Help &amp; contacts</a>

                        <a href="/travel-information/visiting-london/" class="plain-button">Shop for Products online</a>

                        <a href="/transport-accessibility/" class="plain-button">Transport accessibility</a>

                        <a href="/travel-information/social-media-and-email-updates/" class="plain-button">Social media &amp; email updates</a>
                        <a href="/transport-accessibility/" class="plain-button">Interbus Digital Blog</a>

                    </div>

                </div>

            </div>

        </div>
        <div style="display:none;">

        </div>
    </div>

    <div>
        
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="footer" tabindex="0">
                    <h2 class="visually-hidden">Site footer</h2>

                    <div class="primary-footer r">
                        <h2 class="visually-hidden">About Interbus</h2>
                        <ul class="footer-links">
                            <li><a href="/help-and-contact/">Help &amp; contacts</a></li>
                            <li><a class="" href="/corporate/careers/">Careers</a></li>
                            <li><a class="" href="/corporate/about-tfl/">About Interbus</a></li>
                            <li><a class="" href="/corporate/safety-and-security/">Safety &amp; security</a></li>
                            <li><a class="" href="/corporate/transparency/">Transparency</a></li>
                            <li><a class="" href="/corporate/publications-and-reports/">Publications &amp; reports</a></li>
                            <li><a class="" href="/corporate/tfl-shop/">Gift Shop</a></li>
                            <li><a class="" href="/travel-information/social-media-and-email-updates/">Social media &amp; email updates</a></li>
                            <li><a class="languages-footer" href="/travel-information/other-languages/">Other languages</a></li>
                        </ul><h2 class="heading">Information for...</h2><ul class="info-for clearfix">
                            <li><a href="/info-for/media/">Media</a></li>
                            <li><a href="/info-for/business-and-commercial/">Business &amp; commercial</a></li>
                            <li><a href="/info-for/boroughs/">Get Support online 24/7</a></li>
                            <li><a href="/info-for/schools-and-young-people/">Schools &amp; young people</a></li>
                            <li><a href="/info-for/deliveries-in-london/">Deliveries in Zimbabwe</a></li>
                            <li><a href="/info-for/urban-planning-and-construction/">Urban planning &amp; construction</a></li>
                            <li><a href="/info-for/taxis-and-private-hire/">Taxi &amp; private hire </a></li>
                            <li><a href="/info-for/suppliers-and-contractors/">Suppliers &amp; contractors</a></li>
                            <li><a href="/info-for/bus-operators/">Bus operators</a></li>
                            <li><a href="/info-for/open-data-users/">Open data users</a></li>
                            <li><a href="/info-for/coach-drivers/">Coach drivers</a></li>
                            <li><a href="/info-for/investors/">Investors</a></li>
                            <li><a href="/info-for/investors/">Download Interbus App   </a></li>
                        </ul>
                    </div>
                    <div class="secondary-footer"><h2 class="visually-hidden">Site structure and legal information</h2><div class="r"><ul><li><a href="/corporate/terms-and-conditions/">Terms &amp; conditions </a></li><li><a href="/corporate/privacy-and-cookies/">Privacy &amp; cookies</a></li><li><a href="/corporate/website-accessibility/">Website accessibility</a></li></ul><span class="heading">Copyright Interbus</span></div></div>
                    <div>
                    </div>



                </div>
            </div>
        </div>
    
    <script>

        var myIndex = 0;

        carousel();

        // script for slider

        function carousel() {

            var i;

            var x = document.getElementsByClassName("mySlides");

            for (i = 0; i < x.length; i++) {

                x[i].style.display = "none";

            }

            myIndex++;

            if (myIndex > x.length) { myIndex = 1 }

            x[myIndex - 1].style.display = "block";

            setTimeout(carousel, 3000); // Change image every 3 seconds

        }

    </script>
    <script type="text/javascript">
        $("#modal_trigger").leanModal({ top: 200, overlay: 0.6, closeButton: ".modal_close" });

        $(function () {
            // Calling Login Form
            $("#login_form").click(function () {
                $(".social_login").hide();
                $(".user_login").show();
                return false;
            });

            // Calling Register Form
            $("#register_form").click(function () {
                $(".social_login").hide();
                $(".user_register").show();
                $(".header_title").text('Register');
                return false;
            });

            // Going back to Social Forms
            $(".back_btn").click(function () {
                $(".user_login").hide();
                $(".user_register").hide();
                $(".social_login").show();
                $(".header_title").text('Login');
                return false;
            });

        })
    </script>
    <script>
        $('.timepicker').wickedpicker({ twentyFour: true }); //24 hours clock
     //   var timepickers = $('.timepicker').wickedpicker(); console.log(timepickers.wickedpicker('time', 1)); //12 hours clock
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/index.js"></script>
    <!--<script src="js/Login.js"></script>-->
</body>

</html>



