<!DOCTYPE html>
<html lang="en">
<head>

    <title>INTERBUS CommercialSite | Index</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <!-- links for table -->
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">

    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style2/pink-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/Main.css">


    <!-- Optional theme -->

    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

   
    <link href="css/StyleSheet2.css" media="screen,print" rel="stylesheet" />
    <link href="css/StyleSheet1.css" media="screen,print" rel="stylesheet" />
    <link href="css/StyleSheet4.css" media="screen,&#32;print" rel="stylesheet" />
    <link href="css/StyleSheet3.css" media="screen&#32;and&#32;(min-width:&#32;580px),print" rel="stylesheet" />
    <link href="css/StyleSheet5.css" media="screen&#32;and&#32;(min-width:&#32;900px)" rel="stylesheet" />
    <!--<link href="/cdn/static/styles/core/min/print.min.bbf3e026.css" media="print" rel="stylesheet" />-->
    <link href="css/StyleSheet6.css" media="screen" rel="stylesheet" />
    <style>
        rr.div a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 15px;
            display: inline-block;
        }

        .rr ul {
            display: inline;
            margin: 0;
            padding: 0;
        }
            .rr ul li {
                display: inline-block;
                color: white;
            }

                .rr ul li:hover {
                    background: #555;
                }

                    .rr ul li:hover ul {
                        display: block;
                    }

                .rr ul li ul {
                    position: absolute;
                    width: 100px;
                    display: none;
                }

                    .rr ul li ul li {
                        background: #555;
                        display: block;
                        border-bottom: 1px solid white;
                        width: 170px;
                    }

                        .rr ul li ul li a {
                            display: block !important;
                            text-decoration: none;
                        }

                        .rr ul li ul li:hover {
                            background: #666;
                        }

                        .rr ul li ul li a:hover {
                            text-decoration: none;
                        }
    </style>


</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="GetLicense();" style="background-image:url(images/one1.jpg)">

    <div id="c-mask" class="c-mask disable-touch-scrolling"></div>

    <!--Start Header-->
  

        <!--start of white bar above menu-->
        <!--End of white bar above menu-->
        <!--Start Menu-->
        <div class="mainnav" id="mainnav" tabindex="0">

            <div class="top-row" style="position:fixed; width:100%; z-index:1">

                <div class="r">
                    <div class="rr" style="width:94%">
                        <a style="margin-top: 0px; padding-top: 0px; margin-left: 35px; float:left" href="../index.html"><img style="height:76px; border-right:1px solid #D0D0D0 ;border-bottom:1px solid #D0D0D0 ; border-left:1px solid #D0D0D0 " src="Images/logos/interbusLogo.png" alt="Alternate Text" /> </a>
                        <ul class="collapsible-menu clearfix" style="margin-left:0px;height:76px">

                            <li>

                                <a style="text-decoration:none" href="../index.html">Home</a>

                            </li>
                            <li>

                                <a class="active" style="text-decoration:none" href="Fares_and_payments.html">Fares / Payments</a>

                                <ul>
                                    <li><a href="Schedules.html">Schedules</a></li>
                                    <li><a href="CheckFare.html">CheckFare</a></li>
                                    <li><a href="Cancel_Ticket.html">Cancellation</a></li>


                                </ul>
                            </li>
                            <li>

                                <a style="text-decoration:none" href="Status_and_Updates.html">Status & Updates</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="#">Products</a>
                                <ul>
                                    <li><a href="LicensePage.html">Fleet Owner License</a></li>

                                </ul>
                            </li>

                            <li>

                                <a style="text-decoration:none" href="About.html">About Us</a>
                                <ul>
                                    <li><a href="ContactUs.html">ContactUs</a></li>

                                </ul>

                            </li>


                        </ul>
                        <div style="float:right; padding-top:11px">
                            <input type="text" placeholder="Search.." id="q" name="q" style="border-radius: 30px; width: 120px; height: 35px; color: red;" />


                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--End Menu-->

 
    <!--End Header-->


    <div class="container" >
        <div style="margin-top: 100px;text-align:center">
         
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h3 style="padding-top: 10px;text-align:right">
                        Need to renew license? Enter license code:
                       
                    </h3>
                    </div>
                <div class="col-lg-2" style="text-align:left">
                    <input type="text" width="100%" ng-model="txt">
                </div>
                <div class="col-lg-4" style="text-align:left">
                    <button ng-click="ValidateLicenseCode(txt);" class="btn btn-primary">Renew</button>
                    </div>
                    <!--<a href="Fleetownerrequest.html" style="color:red">
            click here
        </a> to contact INTERBUS administrator-->


                </div>
            <div class="row">
                <h3 style="padding-top: 10px; text-align: center">
                    <font style="padding-top: 10px; color: red"><h3>Note:You need a fleet owner code to buy/renew license.</h3></font> <br /> Do not have a fleet owner code? please <a href="Fleetownerrequest.html" style="color:red">
                        click here
                    </a> to contact INTERBUS administrator
                </h3>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="padding-top:10px; text-align:center"> Please choose from below license options available to buy:</h2>
                    <div class="container" ng-model="License">
                        <div class="col-md-10" style="text-align:center;align-content:center">
                            <div class="row mtl">
                                <div class="page-content">

                                    <div ng-repeat="Lt in License.Table" ng-model="selType">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="panel panel-blue">
                                                <div class="panel-heading"><h3 class="panel-title text-center">{{Lt.LicenseType}}</h3></div>
                                                <div class="panel-body pan text-center">
                                                    <div class="pricing-cost" style="background-color:black"
                                                         ng-repeat="p in License.Table2 | filter:{ LicenseId: Lt.Id }">
                                                        <strong style="display: block">${{p.UnitPrice}}</strong>
                                                        <small>per month</small>
                                                    </div>
                                                    <table class="table mbn">
                                                        <tbody>
                                                            <tr ng-repeat="f in License.Table1 | filter:{ LicenseTypeId: Lt.Id }" ng-init="selType=f">
                                                                <td>{{f.FeatureLabel}}: <strong>{{f.FeatureValue}}</strong></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br />
                                                <ul class="pricing-list text-center">
                                                    <button id="buy" type="button" data-target="#Modal-header-Secondary" data-toggle="modal" class="btn btn-primary" ng-click="SetLicensedetails(License, Lt.Id);">Buy Now</button>
                                                    <!--<li class="text-center"><button id="Renew" ng-click="GoToConfirmation1(txt, License, Lt.Id);" class="btn btn-primary">Buy</button></li>-->
                                                </ul>

                                            </div>
                                        </div>
                                       


                                    </div>
                                </div>
                                <!--<div class="modal-dialog">

                        </div>-->

                            </div>

                        </div>

                    </div>
                </div>
            </div>
                
          
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="footer" tabindex="0">

                <h2 class="visually-hidden">Site footer</h2>

                <div class="primary-footer r">
                    <h2 class="visually-hidden">About Interbus</h2><ul class="footer-links">
                        <li><a href="Construction.html">Help &amp; contacts</a></li>
                        <li><a class="" href="Construction.html">Careers</a></li>
                        <li><a class="" href="Construction.html">About Interbus</a></li>
                        <li><a class="" href="Construction.html">Safety &amp; security</a></li>
                        <li><a class="" href="Construction.html">Transparency</a></li>
                        <li><a class="" href="Construction.html">Publications &amp; reports</a></li>
                        <li><a class="" href="Construction.html">Gift Shop</a></li>
                        <li><a class="" href="Construction.html">Social media &amp; email updates</a></li>

                        <li><a class="languages-footer" href="Construction.html">Other languages</a></li>
                    </ul><h2 class="heading">Information for...</h2>
                    <ul class="info-for clearfix">
                        <li><a href="Construction.html">Media</a></li>
                        <li><a href="Construction.html">Business &amp; commercial</a></li>
                        <li><a href="Construction.html">Get Support online 24/7</a></li>
                        <li><a href="Construction.html">Schools &amp; young people</a></li>
                        <li><a href="Construction.html">Deliveries in Zimbabwe</a></li>
                        <li><a href="Construction.html">Urban planning & construction</a></li>


                        <li><a href="Construction.html">Taxi &amp; private hire </a></li>


                        <li><a href="Construction.html">Bus operators</a></li>
                        <li><a href="Construction.html">Open data users</a></li>
                        <li><a href="Construction.html">Coach drivers</a></li>
                        <li><a href="Construction.html">Investors</a></li>
                        <li><a href="Construction.html">Download Interbus App</a></li>
                    </ul>
                </div>
                <div class="secondary-footer">
                    <h2 class="visually-hidden">Site structure and legal information</h2><div class="r">
                        <ul>
                            <li><a href="Construction.html">Terms &amp; conditions </a></li>
                            <li><a href="Construction.html">Privacy &amp; cookies</a></li>
                            <li><a href="Construction.html">Website accessibility</a></li>
                        </ul>
                        <span class="heading">Copyright Interbus</span>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>  

    <div id="Modal-header-Secondary" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-s">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Fleet owner code</h4>
                </div>
                <div class="modal-body" ng-model="currGroup">

                    Enter the fleet owner code:<input type="text" ng-model="FleetOwnerCode" width="100px" />
                    Do not have a fleet owner code? please <a href="Fleetownerrequest.html" style="color:red">click here</a> to contact INTERBUS administrator
                    
                    

                </div>
                <div class="form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn btn-green" ng-click="ValidateFOCode(FleetOwnerCode);">Proceed</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
       

    <script type="text/ng-template" id="statusPopup.html" data-backdrop="static">

        <div class="modal-header">
            <h3 class="modal-title">Validation!</h3>
        </div>
        <div class="modal-body">
          {{mssg}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>

    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>
    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->

    <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>


    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.js"></script>

    <script src="js/ngStorage.js"></script>
    <script src="js/LicensePage.js"></script>


</body>



</html>

