<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>INTERBUS CommercialSite | Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style2/pink-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
</head>
<body style="text-align:center" ng-controller="myCtrl">


        <h1>Please choose below license options available:</h1>
        <h3>Enter fleet owner code: <input id="Text1" type="text" ng-model="txt" /></h3>
        <br />
        <h4>Do not have a fleet owner code? please <a href="FleetOwnerRequest.html" style="color:red">click here</a> to contact INTERBUS administrator </h4>

        <!--BEGIN PAGE WRAPPER-->
    
            <!--BEGIN TITLE & BREADCRUMB PAGE-->
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
                <div id="page-pricing" class="row">
                    <div class="container">
                        <div class="row row-merge">
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-widget">
                                    <div class="pricing-head">Basic</div>
                                    <div class="pricing-body">
                                        <div class="pricing-cost">
                                            <strong style="display: block">$19</strong>
                                            <small>per month</small>
                                        </div>
                                        <ul class="pricing-list text-center">


                                            <li>Tickets per month <strong>100</strong></li>


                                            <li>24/7 Unlimited Support <strong>YES</strong></li>
                                            <li>Support Tickets per month <strong>10</strong></li>
                                            <li class="text-center"><a ng-click="GoToConfirmation(txt);" class="btn btn-success">Buy Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-widget active">
                                    <div class="pricing-head">Professional</div>
                                    <div class="pricing-body">
                                        <div class="pricing-cost">
                                            <strong style="display: block"><span>$</span>39</strong>
                                            <small>per month</small>
                                        </div>
                                        <ul class="pricing-list text-center">


                                            <li>Tickets per month <strong>200</strong></li>

                                            <li>24/7 Unlimited Support <strong>YES</strong></li>
                                            <li>Support Tickets per month <strong>30</strong></li>
                                            <li class="text-center"><a ng-click="GoToConfirmation();" class="btn btn-success">Buy Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-widget">
                                    <div class="pricing-head">Business</div>
                                    <div class="pricing-body">
                                        <div class="pricing-cost">
                                            <strong style="display: block">$59</strong>
                                            <small>per month</small>
                                        </div>
                                        <ul class="pricing-list text-center">

                                            <li>Tickets per month <strong>500</strong></li>

                                            <li>24/7 Unlimited Support <strong>YES</strong></li>
                                            <li>Support Tickets per month <strong>50</strong></li>
                                            <li class="text-center"><a ng-click="GoToConfirmation(txt);" class="btn btn-success">Buy Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-widget">
                                    <div class="pricing-head">Unlimited</div>
                                    <div class="pricing-body">
                                        <div class="pricing-cost">
                                            <strong style="display: block">$79</strong>
                                            <small>per month</small>
                                        </div>
                                        <ul class="pricing-list text-center">

                                            <li>Tickets per month <strong>800</strong></li>

                                            <li>24/7 Unlimited Support <strong>YES</strong></li>
                                            <li>Support Tickets per month <strong>80</strong></li>
                                            <li class="text-center"><a ng-click="GoToConfirmation(txt);" class="btn btn-success">Buy Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
         

        <!--END FOOTER-->
  
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>
    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->
    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/Index.js"></script>
</body>
</html>