<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="test">
<head>
    <title></title>
    <script>
        var app = angular.module('test', []);
        app.controller('test', function ($scope, $uibModalInstance, mssg) {

            $scope.mssg = mssg;
            $scope.ok = function () {
                $uibModalInstance.close('test');
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
        });
    </script>
</head>
<body>
    <script type="text/ng-template">

        <div class="modal-header">
            <h3 class="modal-title">Save confirmation!</h3>
        </div>
        <div class="modal-body">
            <!--<ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>-->
            testeet
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>
</body>
</html>
