<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>INTERBUS CommercialSite | Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style2/pink-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
</head>
<body ng-controller="Mycntrlr" style="background-image:url(images/one1.jpg)">


    <style>
        input {
            margin: 5px;
        }

        td {
            background-color: white;
            border: solid;
            width: 20px;
            height: 20px;
        }
    </style>

    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
    <center>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-10">

                    <div class="panel panel-orange">
                        <div class="panel-heading">Table</div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Travels</th>
                                        <th>DepartArriveDuration</th>
                                        <th>Seats</th>
                                        <th>Rating</th>
                                        <th>Fare</th>
                                    </tr>
                                </thead>


                                <tbody>

                                    <tr class="odd gradeX" ng-repeat="data in tr">

                                        <td>{{data.Travels}}</td>
                                        <td>{{data.DepartArriveDuration}}</td>
                                        <td>{{data.Seats}}</td>

                                        <td>{{data.Rating}}</td>
                                        <td>{{data.Fare}}</td>

                                        <td>

                                            <!----<input type="button" value="Show Hide DIV" ng-click="ShowHide()" />
                                            <!----  <button class="btn btn-medium btn-primary"/>view Details</button>-->
                                            <button class="btn btn-medium btn-primary" value="Show Hide DIV" ng-click="ShowHide()" onclick="buildTable(3, 9);" />view Details
                                        </td>


                                        <div ng-hide="IsHidden">

                                            <div id="tableHolder">

                                            </div>
                                            <input type="button" value="Save" ng-click="save(album)">
                                        </div>

                                    <tr>
                                        <td>CGRTravels</td>
                                        <td>9.00pm-06:15Am</td>
                                        <td>42</td>
                                        <td>rating(10)</td>
                                        <td>
                                            Startingfrom
                                            Rs 550
                                        </td>
                                        <td>
                                            <button class="btn btn-medium btn-primary">view Seats</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CGRTravels</td>
                                        <td>9.00pm-06:15Am</td>
                                        <td>42</td>
                                        <td>rating(10)</td>
                                        <td>
                                            Startingfrom
                                            Rs 550
                                        </td>
                                        <td>
                                            <button class="btn btn-medium btn-primary">view Seats</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>30</td>
                                        <td><span class="label label-sm label-warning">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Lahm</td>
                                        <td>15</td>
                                        <td><span class="label label-sm label-danger">Blocked</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </center>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="vendors/iCheck/custom.min.js"></script>
    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    <script src="js/jquery.menu.js"></script>
    <script src="vendors/jquery-pace/pace.min.js"></script>
    <script src="vendors/holder/holder.js"></script>
    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->
    <script src="js/main.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/SeatSelection.js"></script>
</body>
</html>