
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<!--<![endif]-->
<head>

    <title>Interbus - Get Moving Anywhere, Comfortably</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="UI/css/bootstrap.min.css">-->
    <script src="UI/js/jquery-1.11.0.min.js"></script>

    <script src="UI/js/bootstrap.min.js"></script>


    <link type="text/css" rel="stylesheet" href="UI/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/font-awesome/css/font-awesome.min.css">
        <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="UI/vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link href="UI/css/themes/style2/pink-blue.css" rel="stylesheet" />
    <link type="text/css" rel="UI/stylesheet" href="css/style-responsive.css">
    <link href="UI/css/banner.css" rel="stylesheet" type="text/css">
  



      
</head>
<body class="sidebar-icons fixed-topbar">
    <div class="row">

        <div id="header-topbar-option-demo" class="page-header-topbar col-lg-12">


            <nav id="topbar" role="navigation" style="margin-bottom: 0;" class="navbar navbar-default navbar-static-top ">

                <div class="topbar-main">
                    <div class="container boxed-layout">

                        <a style="margin-top: 0px; padding-top: 0px; margin-left: 35px; float:left" href="../index.html"><img style="height:76px; border-right:1px solid #D0D0D0 ;border-bottom:1px solid #D0D0D0 ; border-left:1px solid #D0D0D0 " src="UI/Images/logos/dashboard.png" alt="Alternate Text" /> </a>
                        <ul class="nav navbar navbar-top-links mbn">
                            <li class="active"><a style="text-decoration:none" href="../index.html">Home</a></li>
                            <li class="dropdown">
                                <a data-hover="dropdown" href="#" class="dropdown-toggle">Fares/Payments</a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li><p><a href="UI/Schedules.html"><span class="menu-title">Schedules</span></a></p></li>
                                    <li><p><a href="UI/CheckFare.html">CheckFare</a></p></li>
                                    <li><p><a href="UI/Cancel_Ticket.html">Cancellation</a></p></li>
                                    <!--<li><p>You have 14 new notifications</p></li>-->


                                </ul>
                            </li>
                            <li class="dropdown">
                                <a data-hover="dropdown" href="#" class="dropdown-toggle">Products</a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li ng-repeat="t in licenses" id="{{t.Id}}"><a href="#" ng-click="GotToLicensePage(t);">{{t.Name}}</a></li>
                                    <!--<li><p>You have 14 new notifications</p></li>-->


                                </ul>
                            </li>
                            <li class="dropdown">
                                <a data-hover="dropdown" href="#" class="dropdown-toggle">About us</a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li><a href="UI/Contact.html">ContactUs</a></li>

                                </ul>

                            </li>

                            <li class="pull-right">
                                <div>
                                    <input type="text" placeholder="Search.." id="q" name="q" style="border-radius: 30px; width: 180px; height: 35px; color: red;" />
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>

            </nav>



        </div>
       
      

    </div>
    <div class="container shadow" style="padding-right:0px;padding-left:0px">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:450px;padding-right:0px;padding-left:0px">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style="height: 450px; padding-right: 0px; padding-left: 0px;">
                <div class="item active">
                  
                    <img src="UI/Images/promos/11.jpg" alt="Chania" style="height: 100%; width: 100%;padding-right:0px; padding-left: 0px">
                  
                    <div class="carousel-caption">
                        <h2>Interbus image1</h2>
                        <p><h3>Every journey matters.....</h3></p>
                    </div>
                </div>

                <div class="item">
                    <img src="UI/Images/promos/12.png" alt="Chania" style="height: 100%; width: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image2</h2>
                        <p><h3>The convienience of travelling with interbus.</h3></p>
                    </div>
                </div>

                <div class="item">
                    <img src="UI/Images/promos/13.jpg" alt="Flower" style="height: 100%; width: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image3</h2>
                        <p><h3>Get online tickets and become tension free with travelling.....</h3></p>
                    </div>
                </div>

                <div class="item">
                    <img src="UI/Images/promos/14.png" alt="Flower" style="height: 100%; width: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image4</h2>
                        <p><h3>Automated ticketing increases effeciency and convienience.</h3></p>
                    </div>
                </div>
                <div class="item">
                    <img src="UI/Images/promos/2.png" alt="Flower" style="height: 100%; width: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image4</h2>
                        <p><h3>Automated ticketing increases effeciency and convienience.</h3></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="height:465px">
        <!--<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 450px; width: auto;padding-right:0px; padding-left: 0px">


           
            <div class="carousel-inner" role="listbox" style="height: 470px; width: auto; margin-right:-80px; padding-right: 0px; padding-left: 0px">


                <div class="item ">
                    <img src="UI/Images/promos/2.png" alt="Chania" style="height: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image1</h2>
                        <p><h3>Every journey matters.....</h3></p>
                    </div>
                </div>

                <div class="item">
                    <img src="UI/Images/promos/3.png" alt="Flower" style="height: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image2</h2>
                        <p><h3>The convienience of travelling with interbus.</h3></p>
                    </div>
                </div>

                <div class="item active">
                    <img src="UI/Images/promos/4.png" alt="Flower" style="height: 100%; padding-right: 0px; padding-left: 0px; ">
                    <div class="carousel-caption">
                        <h2>Interbus image3</h2>
                        <p><h3>Get online tickets and become tension free with travelling.....</h3></p>
                    </div>
                </div>
                <div class="item ">
                    <img src="UI/Images/promos/1.png" alt="Chania" style="height: 100%; padding-right:0px; padding-left: 0px">
                    <div class="carousel-caption">
                        <h2>Interbus image4</h2>
                        <p><h3>Automated ticketing increases effeciency and convienience.</h3></p>
                    </div>
                </div>
            </div>


        </div>-->
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
       
    </a>
    <div>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="height:465px;">
            <!--<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 450px; width: auto;padding-right:0px; padding-left: 0px">
               
                <div class="carousel-inner" role="listbox" style="height: 470px; width: auto; margin-left:-80px; padding-right: 0px; padding-left: 0px">
                   

                    <div class="item active">
                        <img src="UI/Images/promos/2.png" alt="Chania" style="height: 100%; padding-right: 0px; padding-left: 0px; ">
                        <div class="carousel-caption">
                            <h2>Interbus image1</h2>
                            <p><h3>Every journey matters.....</h3></p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="UI/Images/promos/3.png" alt="Flower" style="height: 100%; padding-right: 0px; padding-left: 0px; ">
                        <div class="carousel-caption">
                            <h2>Interbus image2</h2>
                            <p><h3>The convienience of travelling with interbus.</h3></p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="UI/Images/promos/4.png" alt="Flower" style="height: 100%; padding-right: 0px; padding-left: 0px; ">
                        <div class="carousel-caption">
                            <h2>Interbus image3</h2>
                            <p><h3>Get online tickets and become tension free with travelling.....</h3></p>
                        </div>
                    </div>
                    <div class="item ">
                        <img src="UI/Images/promos/1.png" alt="Chania" style="height: 100%; padding-right:0px; padding-left: 0px">
                        <div class="carousel-caption">
                            <h2>Interbus image4</h2>
                            <p><h3>Automated ticketing increases effeciency and convienience.</h3></p>
                        </div>
                    </div>
                </div>


            </div>-->
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container boxed-layout shadow" style="background-color: white; display: block;">


        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                <div class="panel-heading" style="background-color:black;text-align:center;text-decoration-color:white">Plan a journey</div>
                                <div class="panel-body form-actions text-right pal" style="background-color: AliceBlue; ">

                                    <div class="row">

                                        <div class="form-group">
                                            <select class="form-control" ng-options="S.Name for S in Stops track by S.Id" ng-model="S">
                                                <option value="">Select Source</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="form-group">
                                            <select class="form-control" ng-options="D.Name for D in Stops track by D.Id" ng-model="D">
                                                <option value="">Select Destination</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div style="text-align:left">
                                            <p>

                                                <b><font color="black"> Leaving:</font></b>

                                                <input ng-model="result" value="1" type="radio" name="timing" checked ng-init="result=1" /> <font color="black">
    Now
</font>
    <input ng-model="result1" value="2" type="radio" name="timing" ng-init="result=2" /> <font color="black"> Change Time</font>

</p>

                                            <div>

                                                <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                                                <!--<input type="text" name="timepicker" class="timepicker" />-->
                                            </div>
                                            <br />
                                            <div>
                                                <input ng-model="result" value="1" type="radio" name="triptype" checked ng-init="result=1" /> <font color="black">
    One way
</font>
    <input ng-model="result1" value="2" type="radio" name="triptype" ng-init="result=2" /> <font color="black"> Two way</font>
</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group pull-left">
                                            <br />
                                            <a href="UI/traveloptions.html"><font color="blue"> <u>Travel options & accessibility</u></font></a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group pull-left col-lg-12">
                                            <input type="button" ng-click="GetServices();" class="btn btn-blue panel-heading" value="Plan my journey" style="width:100%" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group pull-left col-lg-12">
                                            <input type="button" data-target="#myModal" data-toggle="modal" class="btn btn-blue panel-heading" value="Recent Journeys" style="width:100%" />
                                        </div>
                                    </div>
                                </div>
                                    </div>
                             </div>


                      

                        <div class="col-lg-8">
                            <div class="row" >
                                <div class="col-lg-6">
                                    
                                    <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                        <a href="">

                                            <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                            <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                        </a>
                                    </div>

                                    
                                    </div>
                                <div class="col-lg-6">
                                   
                                    <div class="row">
                                        <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                            <div class="panel-heading" style="background-color: black; text-align: center; text-decoration-color: white">
                                                <a style="text-decoration:none; color:#CCCCCC" href="UI/UserLogin.html"><img src="UI/Images/login.png" />Login</a>
                                                <!--<a style="text-decoration:none; color:#CCCCCC" href="#modal" id="modal_trigger"><img src="UI/Images/login.png" />Login</a>-->
                                                <a style="text-decoration:none; color:#CCCCCC" href="">Or</a>
                                                <a style="text-decoration:none; color:#CCCCCC" href="UI/Registration.html">Create and Account</a>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row" style="text-align:center">
                                            <div class="col-lg-6">
                                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                    <a href="UI/Construction.html" class="flat-button top-icon">

                                                        <img src="UI/Images/logos/oyster-homepage-icon.png" alt="" /><br />

                                                        Topup Interbus<br />GoCard

                                                    </a>
                                                    </div>

                                                </div>
                                            <div class="col-lg-6">
                                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                    <a href="UI/Construction.html" class="flat-button top-icon">

                                                        <img src="UI/Images/logos/cycle-hire-homepage-icon.png" alt="" /><br />

                                                        Download InterbusGo App

                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                    <div class="row" style="text-align:center">
                                        <div class="col-lg-6">
                                            <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                                <a href="UI/Construction.html" class="flat-button top-icon">

                                                    <img src="UI/Images/logos/congestion-homepage-charge-icon.png" alt="" /> <br />
                                                    Check In
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                <a href="UI/Construction.html" class="flat-button top-icon">

                                                    <img src="UI/Images/logos/airline-homepage-icon.png" alt="" /><br />
                                                    Inquiries
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                            </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="panel panel-dark" style="background-color: AliceBlue; ">
                            
                                    <h2>Travel Voucher</h2><p>
                                        Get a travel Voucher  or  View routes and buses on
                                        Promotion in and around Zimbabwe
                                    </p>
                                    </div>


                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                        <h2>Travel Voucher</h2><p>
                                            Get a travel Voucher  or  View routes and buses on
                                            Promotion in and around Zimbabwe
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>                   
                    

                    <div class="row">
                        <div class="col-lg-4">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>
                        <div class="col-lg-4">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>
                        <div class="col-lg-4">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-4">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>
                        <div class="col-lg-4">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>
                        <div class="col-lg-4">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>
                        <div class="col-lg-6">

                            <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                <a href="">

                                    <img src="UI/Images/advt1.jpeg" style="width:100%" />
                                    <div class="text-link"><h2>Interbus Advert </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                </a>
                            </div>


                        </div>

                    </div>
        </div>
        <div class="clearfix"></div>

        <!--END FOOTER-->
    </div>
        </div>
 </div>
        <!--END CONTENT--><!--BEGIN FOOTER-->
    <div class="row" style="display:block">
        <div class="col-lg-12">
            <div id="footer-site" tabindex="0">

                <h2 class="visually-hidden">Site footer</h2>
                <div class="footer-site r">
                    <h2 class="visually-hidden">About Interbus</h2>
                    <ul class="footer-site-links">
                        <li><a href="UI/Construction.html">Help &amp; contacts</a></li>
                        <li><a class="" href="UI/Construction.html">Careers</a></li>
                        <li><a class="" href="UI/Construction.html">About Interbus</a></li>
                        <li><a class="" href="UI/Construction.html">Safety &amp; security</a></li>
                        <li><a class="" href="UI/Construction.html">Transparency</a></li>
                        <li><a class="" href="UI/Construction.html">Publications &amp; reports</a></li>
                        <li><a class="" href="UI/Construction.html">Gift Shop</a></li>
                        <li><a class="" href="UI/Construction.html">Social media &amp; email updates</a></li>

                        <li><a class="languages-footer-site" href="UI/Construction.html">Other languages</a></li>
                    </ul>

                    <h2 class="heading">Information for...</h2>
                    <ul class="footer-site-links">
                        <li><a href="UI/Construction.html">Media</a></li>
                        <li><a href="UI/Construction.html">Business &amp; commercial</a></li>
                        <li><a href="UI/Construction.html">Get Support online 24/7</a></li>
                        <li><a href="UI/Construction.html">Schools &amp; young people</a></li>
                        <li><a href="UI/Construction.html">Deliveries in Zimbabwe</a></li>
                        <li><a href="UI/Construction.html">Urban planning & construction</a></li>
                    </ul>
                    <ul class="footer-site-links">
                        <li><a href="UI/Construction.html">Taxi &amp; private hire </a></li>


                        <li><a href="UI/Construction.html">Bus operators</a></li>
                        <li><a href="UI/Construction.html">Open data users</a></li>
                        <li><a href="UI/Construction.html">Coach drivers</a></li>
                        <li><a href="UI/Construction.html">Investors</a></li>
                        <li><a href="UI/Construction.html">Download Interbus App</a></li>
                    </ul>
                </div>
                <div class="footer-site">
                    <div class="r">
                        <ul>
                            <li><a href="UI/Construction.html">Terms &amp; conditions </a></li>
                            <li><a href="UI/Construction.html">Privacy &amp; cookies</a></li>
                            <li><a href="UI/Construction.html">Website accessibility</a></li>
                        </ul>
                        <span class="heading">Copyright Interbus</span>
                    </div>

                </div>
                    <div>
                    </div>
                </div>
        </div>

    </div>

    

        <script src="UI/js/jquery-1.10.2.min.js"></script>
        <script src="UI/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="UI/js/jquery-ui.js"></script>
        <!--loading bootstrap js-->
        <script src="UI/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="UI/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="UI/js/html5shiv.js"></script>
        <script src="UI/js/respond.min.js"></script>
        <script src="UI/vendors/metisMenu/jquery.metisMenu.js"></script>
        <script src="UI/vendors/slimScroll/jquery.slimscroll.js"></script>
        <script src="UI/vendors/jquery-cookie/jquery.cookie.js"></script>
        <script src="UI/vendors/iCheck/icheck.min.js"></script>
        <script src="UI/vendors/iCheck/custom.min.js"></script>
        <script src="UI/vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
        <script src="UI/js/jquery.menu.js"></script>
        <script src="UI/vendors/jquery-pace/pace.min.js"></script>
        <script src="UI/vendors/holder/holder.js"></script>
        <script src="UI/vendors/responsive-tabs/responsive-tabs.js"></script>
        <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->
        <script src="UI/js/main.js"></script>
   
      
</body>




</html>



