
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<!--<![endif]-->
<head>

    <title>Interbus - Get Moving Anywhere, Comfortably</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    
    <!--Loading bootstrap css-->  
    <link rel="stylesheet" href="UI/css/bootstrap.min.css">
    <script src="UI/js/jquery-1.11.0.min.js"></script>    
    <script src="UI/js/bootstrap.js"></script>
    <link type="text/css" rel="stylesheet" href="UI/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/font-awesome/css/font-awesome.min.css">
    
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="UI/vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/jquery-news-ticker/jquery.news-ticker.css">
    
    <!--Loading style-->
    <link href="UI/css/themes/style2/pink-blue.css" rel="stylesheet" />
    <link type="text/css" rel="UI/stylesheet" href="css/style-responsive.css">
 
</head>
<body ng-init="GetStops();">
    
    <div id="container">

        <!--start of white bar above menu-->
        <!--End of white bar above menu-->
        <!--Start Menu-->
        <div class="mainnav" id="mainnav" tabindex="0">

            <div class="top-row clearfix" style="position:fixed; width:100%; z-index:1">

                <div class="r">
                    <div class="rr">
                        <a style="margin-top: 10px; padding-top: 0px; margin-right: 30px; float:left" href="../index.html"><img style="height:26px" src="UI/Images/logos/Idashboard.png" alt="Alternate Text" /></a>
                        <ul class="collapsible-menu clearfix" style="margin-left:0px;">

                            <li style="margin-left:50px">

                                <a style="text-decoration:none" href="../index.html">Home</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="UI/Fares_and_payments.html">Fares / Payments</a>

                                <ul>
                                    <li><a href="UI/Schedules.html">Schedules</a></li>
                                    <li><a href="UI/CheckFare.html">CheckFare</a></li>
                                    <li><a href="UI/Cancellation.html">Cancellation</a></li>


                                </ul>
                            </li>
                            <li>

                                <a style="text-decoration:none" href="UI/Status_and_Updates.html">Status & Updates</a>

                            </li>
                            <li>

                                <a style="text-decoration:none" href="#">Products</a>
                                <ul>
                                    <li ng-repeat="t in licenses" id="{{t.Id}}"><a href="#" ng-click="GotToLicensePage(t);">{{t.Name}}</a></li>

                                </ul>
                            </li>

                            <li>

                                <a style="text-decoration:none" href="UI/AboutUs.html">About Us</a>
                                <ul>
                                    <li><a href="UI/ContactUs.html">ContactUs</a></li>

                                </ul>

                            </li>

                            <li style="margin-left:220px">

                                <div style="float:right; padding-top:11px">
                                    <input type="text" placeholder="Search" id="q" name="q" style="border-radius:30px; width:120px; height:35px" />


                                </div>


                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <!--End Menu-->
    </div>

 

    <div id="wrapper1">
        <div id="carousel">
            <img  ng-repeat="i in carouselImages" src="{{i.Path}}" style="padding:0px" />
        </div>
        <a href="#" id="prev" title="Show previous" > </a>
        <a href="#" id="next" title="Show next" > </a>
            <div id="pager"></div>
        </div>    

        <div class="container boxed-layout shadow" style="background-color: white; display: block;">


            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                    <div class="panel-heading" style="background-color:black;text-align:center;text-decoration-color:white">Plan a journey</div>
                                    <div class="panel-body form-actions text-right pal" style="background-color: AliceBlue; ">

                                        <div class="row">

                                            <div class="form-group">
                                                <select class="form-control" ng-options="S.Name for S in Stops track by S.Id" ng-model="S">
                                                    <option value="">Select Source</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-group">
                                                <select class="form-control" ng-options="D.Name for D in Stops track by D.Id" ng-model="D">
                                                    <option value="">Select Destination</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div style="text-align:left">
                                                <p>

                                                    <b><font color="black"> Leaving:</font></b>

                                                    <input id="currTime" value="Now" type="radio" name="timing" ng-model="timing" checked ng-change="ChangeTravelType('0');" /> <font color="black">
                                                        Now
                                                    </font>
                                                    <input id="dtTime" value="Later" type="radio" name="timing" ng-model="timing" ng-change="ChangeTravelType('1');"/> <font color="black"> Change Time</font>

                                                </p>

                                                <div ng-hide="timing == 'Now'">

                                                    <div class="input-group datetimepicker-disable-date date"><input style="z-index:199" type="text" class="form-control" /><span class="input-group-addon"><i class="fa fa-clock-o"></i></span></div>
                                                    <!--<input type="text" name="timepicker" class="timepicker" />-->
                                                </div>
                                                <br />
                                                <div>
                                                    <b><font color="black">Travel Type:</font></b>
                                                    <input value="oneway" type="radio" name="tt" ng-change="RadioChange('oneway')"  ng-model="triptype" checked /> <font color="black">
                                                        One way
                                                    </font>
                                                    <input value="twoway" type="radio" name="tt" ng-change="RadioChange('twoway')" ng-model="triptype" /><font color="black"> Two way</font>
                                                    
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group pull-left">
                                                <br />
                                                <a href="UI/traveloptions.html"><font color="blue"> <u>Travel options & accessibility</u></font></a>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group pull-left col-lg-12">
                                                <input type="button" ng-click="GetServices();" class="btn btn-blue panel-heading" value="Plan my journey" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group pull-left col-lg-12">
                                                <input type="button" data-target="#Modal-header-primary" data-toggle="modal" class="btn btn-blue panel-heading" value="Recent Journeys" style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                            <a href="">

                                                <img src="UI/Images/Advt/harare 1.jpg" style="width:100%" />
                                                <div class="text-link"><h2>Harare </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                            </a>
                                           
                                        </div>


                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row" ng-hide="username == null">
                                            <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                <div class="panel-heading" style="background-color: black; text-align: center; text-decoration-color: white; padding: 0px">

                                                    <ul class="nav" style="padding:0px">
                                                        <li class="dropdown topbar-user col-lg-8" style="background-color:black;padding-left:0px">
                                                            <a data-hover="dropdown" href="#" class="dropdown-toggle  pull-left" style="background-color: black;">&nbsp;<span class=" hidden-xs" style="text-decoration:none; color:#CCCCCC;"><img src="UI/Images/login.png" />Hello, {{username}}!</span>&nbsp;<span class="caret"></span></a>
                                                            <ul class="dropdown-menu dropdown-user pull-right">
                                                                <li><a href="UI/UserProfile.html" style="background-color:black"><i class="fa fa-user"></i>My Account</a></li>
                                                                <li><a href="page-calendar.html" style="background-color:black"><i class="fa fa-calendar"></i>Recent Journey</a></li>
                                                                <li><a href="email-inbox.html" style="background-color:black"><i class="fa fa-envelope"></i>Cancellation</a></li>
                                                                <li><a href="#" style="background-color:black"><i class="fa fa-tasks"></i>Feedback/Enquiry</a></li>

                                                                <li><a href="#" style="background-color:black" ng-click="SignOutUser();"><i class="fa fa-key"></i>Sign Out</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="col-lg-4" style="padding:0px">
                                                            <a style="text-decoration: none; color: #CCCCCC; background-color: black;" href="#" ng-click="SignOutUser();">Sign Out!</a>
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>


                                        </div>
                                        

                                        

                                        <div class="row" ng-show="username == null">
                                            <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                <div class="panel-heading" style="background-color: black; text-align: center; text-decoration-color: white">
                                                    <a style="text-decoration:none; color:#CCCCCC" href="#" data-target="#Modal-header-primary" data-toggle="modal"><img src="UI/Images/login.png" />Login</a>
                                                    <a style="text-decoration:none; color:#CCCCCC" href="">Or</a>
                                                    <a style="text-decoration:none; color:#CCCCCC" href="UI/Registration.html">Create and Account</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align:center">
                                            <div class="col-lg-6">
                                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                    <a href="UI/Construction.html" class="flat-button top-icon">

                                                        <img src="UI/Images/logos/oyster-homepage-icon.png" alt="" /><br />

                                                        <h5>    Recharge Chihuta Card</h5>

</a>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                    <a href="UI/Construction.html" class="flat-button top-icon">

                                                        <img src="UI/Images/logos/cycle-hire-homepage-icon.png" alt="" /><br />

                                                        <h5>  Download Smart Tickets App</h5>

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align:center">
                                            <div class="col-lg-6">
                                                <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                                    <a href="UI/Construction.html" class="flat-button top-icon">

                                                        <img src="UI/Images/logos/congestion-homepage-charge-icon.png" alt="" /> <br />
                                                        <h5>  Check In</h5>
</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="panel panel-dark" style="background-color: AliceBlue; ">
                                                    <a href="UI/Construction.html" class="flat-button top-icon">

                                                        <img src="UI/Images/logos/airline-homepage-icon.png" alt="" /><br />
                                                        <h5>    Inquiries</h5>
</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                            <h2>Travel Voucher</h2><p>
                                                Get a travel Voucher  or  View routes and buses on
                                                Promotion in and around Zimbabwe
                                            </p>
                                        </div>


                                    </div>
                                    <div class="col-lg-6">
                                        <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                            <h2>Travel Voucher</h2><p>
                                                Get a travel Voucher  or  View routes and buses on
                                                Promotion in and around Zimbabwe
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-4">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">

                                    <a href="">

                                        <img src="UI/Images/Advt/VF1.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Water Falls </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>

                                </div>


                            </div>
                            <div class="col-lg-4">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/Falls 2.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Falls </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>


                            </div>
                            <div class="col-lg-4">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/GZ1.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Zimbabwe GZ </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-4">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/Airport.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Airport </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>


                            </div>

                           
                            <div class="col-lg-4">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/Kariba.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Kariba </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>


                            </div>
                            <div class="col-lg-4">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/mutare.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Mutare </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-6">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/safari 1.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Safari</h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>


                            </div>
                            <div class="col-lg-3">

                                <div class="panel panel-dark" style="background-color: AliceBlue; ">


                                    <a href="">

                                        <img src="UI/Images/Advt/Streets 1.jpg" style="width:100%" />
                                        <div class="text-link"><h2>Streets </h2><p>Attracting more women and young people into our exciting and diverse industry</p></div>

                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="vertical-button-container">
                                    <a href="UI/Construction.html" class="plain-button">Stations, stops &amp; piers</a>
                                    <a href="UI/Construction.html" class="plain-button">Timetables</a>
                                    <a href="UI/Construction.html" class="plain-button">Help &amp; contacts</a>
                                    <a href="UI/Construction.html" class="plain-button">Shop for Products online</a>
                                    <a href="UI/Construction.html" class="plain-button">Transport accessibility</a>
                                    <a href="UI/Construction.html" class="plain-button">Social media &amp; email updates</a>
                                    <a href="UI/Construction.html" class="plain-button">Interbus Digital Blog</a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!--END FOOTER-->
                </div>
            </div>
        </div>

    

    <div id="Modal-header-primary1" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <div class=" modal-dialog modal-lg">
            <div class="modal-content">  
                <div class="page-form" ng-controller="myCtrl" ng-model="type">
                    <form class="form-validate-signin">
                        <div class="header-content">
                            <h3>Smart Ticketing Log in</h3>
                          
                            <div class="body-content">
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td height="5px" align="left">
                                                <div style="margin-right:10px" class="row">
                                                    <div class="input-icon right:col-md-2">
                                                        <i class="fa fa-user"></i>
                                                        <input type="text" placeholder="Username" name="username" class="form-control" ng-model="UserName">
                                                        <!--<span ng-show="!UserName"><font color="red">Please enter UserName</font></span>-->
                                                    </div>
                                                </div>
                                            </td>
                                            <td height="5px" align="right">
                                                <div style="margin-left:5px" class="row">
                                                    <div class="input-icon right:col-md-2">
                                                        <i class="fa fa-key"></i>
                                                        <input type="password" placeholder="Password" name="password" class="form-control" ng-model="Password">
                                                        <!--<span ng-show="!Password"><font color="red">Please enter Password</font></span>-->
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                               
                                <div class="form-group" style="text-align:center">
                                    <button ng-click="Signin()" class="btn btn-success">
                                        Log In
                                        &nbsp;<i class="fa fa-chevron-circle-right"></i>
                                    </button>
                                    <br />
                                    <!--<div class="clearfix"></div>-->
                                    <div class="form-group">
                                        <b> Forgot your Password?</b><a style="color:blue" href='UI/ForgotPassword.html' class='btn-forgot-pwd'>Click Here</a>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </form>
                </div>        
            </div>
        </div>
    </div>

    <div id="Modal-header-primary" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade" style="margin-top:100px">
        <div class="modal-dialog">
            
                <div class="panel panel-dark" style="background-color: AliceBlue;padding:0px">
                    <!--<button type="button" data-dismiss="modal" aria-hidden="true" class="close" style="background-color:white;padding:0px">&times;</button>-->
                    <div class="panel-heading" style="background-color:black;text-align:center;text-decoration-color:white">Log in</div>
                   
                    <div class="panel-body form-actions text-right pal" style="background-color: AliceBlue; ">

                        <div class="body-content" ng-model="register">


                            <div class="form-group">
                                <div class="input-icon right"><i class="fa fa-user"></i><input type="text" placeholder="EmailId/User Name" name="username" ng-model="UserName" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-icon right"><i class="fa fa-key"></i><input id="ln" type="password" placeholder="password" name="password" ng-model="Password" class="form-control"></div>
                            </div>
                            
                            <div class="form-group">

                                <select id="selGender" class="form-control" ng-model="FleetOwnerRequest1.UserType">
                                    <option value="" >Select Login Type</option>
                                    <option value="1">Customer</option>
                                    <option value="2">Fleet Owner</option>
                                    <option value="3">Interbus Support</option>
                                    <option value="4">Sales agent</option>
                                    <option value="5">Fleet Owner Supervisor</option>
                                    <option value="6">Guest/Others</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <select id="selGender" class="form-control" ng-model="FleetOwnerRequest1.Op">
                                    <option value="" selected>Select Operation</option>
                                    <option value="1" >Recent Journey</option>
                                    <option value="2">Cancellation</option>
                                    <option value="3">Feedback/Enquiry</option>
                                    <option value="4">My Account</option>                                    
                                </select>
                            </div>

                            <div class="form-group">
                                <b> New user?</b><a style="color:blue" href='UI/Registration.html' class='btn-forgot-pwd'>Register</a>
                            </div>
                            <div class="form-group">
                                <b> Forgot your Password?</b><a style="color:blue" href='UI/ForgotPassword.html' class='btn-forgot-pwd'>Click Here</a>
                            </div>
                          

                            <div class="form-group">
                                
                                <button class="btn btn-info" ng-click="Signin();">
                                    Login
                                </button>
                                <button  data-dismiss="modal" class="btn btn-primary">
                                    Cancel
                                </button>
                             
                            </div>
                        </div>
                    </div>
                </div>
          
        </div>
    </div>
        <!--END CONTENT--><!--BEGIN FOOTER-->
        <div class="row">
            <div class="col-lg-12">
                <div id="footer" tabindex="0">

                    <h2 class="visually-hidden">Site footer</h2>
                    <div class="primary-footer r">
                        <h2 class="visually-hidden">About Interbus</h2><ul class="footer-links">
                            <li><a href="UI/Construction.html">Help &amp; contacts</a></li>
                            <li><a class="" href="UI/Construction.html">Careers</a></li>
                            <li><a class="" href="UI/Construction.html">About Interbus</a></li>
                            <li><a class="" href="UI/Construction.html">Safety &amp; security</a></li>
                            <li><a class="" href="UI/Construction.html">Transparency</a></li>
                            <li><a class="" href="UI/Construction.html">Publications &amp; reports</a></li>
                            <li><a class="" href="UI/Construction.html">Gift Shop</a></li>
                            <li><a class="" href="UI/Construction.html">Social media &amp; email updates</a></li>

                            <li><a class="languages-footer" href="UI/Construction.html">Other languages</a></li>
                        </ul><h2 class="heading">Information for...</h2>
                        <ul class="info-for clearfix">
                            <li><a href="UI/Construction.html">Media</a></li>
                            <li><a href="UI/Construction.html">Business &amp; commercial</a></li>
                            <li><a href="UI/Construction.html">Get Support online 24/7</a></li>
                            <li><a href="UI/Construction.html">Schools &amp; young people</a></li>
                            <li><a href="UI/Construction.html">Deliveries in Zimbabwe</a></li>
                            <li><a href="UI/Construction.html">Urban planning & construction</a></li>


                            <li><a href="UI/Construction.html">Taxi &amp; private hire </a></li>


                            <li><a href="UI/Construction.html">Bus operators</a></li>
                            <li><a href="UI/Construction.html">Open data users</a></li>
                            <li><a href="UI/Construction.html">Coach drivers</a></li>
                            <li><a href="UI/Construction.html">Investors</a></li>
                            <li><a href="UI/Construction.html">Download Interbus App</a></li>
                        </ul>
                    </div>
                    <div class="secondary-footer">
                        <h2 class="visually-hidden">Site structure and legal information</h2>
                        <div class="r">
                            <div class="col-lg-5"><ul>
                                <li><a href="UI/Construction.html">Terms &amp; conditions </a></li>
                                <li><a href="UI/Construction.html">Privacy &amp; cookies</a></li>
                                <li><a href="UI/Construction.html">Website accessibility</a></li>
                            </ul>
                            </div>
                            
                            <div class="col-lg-4">
                                <ul>
                                    <li> <a href="www.webingate.com">Powered by www.webingate.com </a></li>
                                    </ul>
                                    <span class="heading"></span>
                            </div>
                            <div class="col-lg-2">
                                    <span class="heading">Copyright © Interbus</span>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>



        <script src="UI/js/jquery-1.10.2.min.js"></script>
        <script src="UI/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="UI/js/jquery-ui.js"></script>
        <!--loading bootstrap js-->
        <!--<script src="UI/vendors/bootstrap/js/bootstrap.js"></script>-->
        <script src="UI/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="UI/js/html5shiv.js"></script>
        <script src="UI/js/respond.min.js"></script>
        <script src="UI/vendors/metisMenu/jquery.metisMenu.js"></script>
        <script src="UI/vendors/slimScroll/jquery.slimscroll.js"></script>
        <script src="UI/vendors/jquery-cookie/jquery.cookie.js"></script>
        <script src="UI/vendors/iCheck/icheck.min.js"></script>
        <script src="UI/vendors/iCheck/custom.min.js"></script>

        <script src="UI/js/jquery.menu.js"></script>
        <script src="UI/vendors/jquery-pace/pace.min.js"></script>
        <script src="UI/vendors/holder/holder.js"></script>
        <script src="UI/vendors/responsive-tabs/responsive-tabs.js"></script>
        <script src="UI/js/moment.js"></script>
        <script src="UI/vendors/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

        <script>
            $('.datetimepicker-disable-date').datetimepicker({
                pickDate: false
            });
        </script>

        <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->
        <script src="UI/js/main.js"></script>
    <script src="UI/js/Carousle/Carousel.js"></script>
        <script src="UI/js/angular.js"></script>
        <script src="UI/js/ui-bootstrap-tpls-1.3.3.js"></script>
        <script src="UI/js/ngStorage.js"></script>


        <script src="UI/js/Index.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#carousel').carouFredSel({
                    width: '100%',
                    items: {
                        visible: 3,
                        start: -1
                    },
                    scroll: {
                        items: 1,
                        duration: 100,
                        timeoutDuration: 5000
                    },
                    prev: '#prev',
                    next: '#next',
                    pagination: {
                        container: '#pager',
                        deviation: 1
                    }
                });
            });
        </script>

</body>




</html>



