#wrapper_banner {
	background-color: #fff;
	
	height: 450px;
	overflow: hidden;
	
	
    /*-moz-box-shadow:    0 0 5px 6px #000;
    -webkit-box-shadow: 0 0 5px 6px #000;    
    box-shadow: 0 0 2.5em 0.5em rgba(0,0,0,0.4);*/
}
#carousel img {
	display: block;
	float: left;
    height:100%; 
    
    	/*-webkit-box-shadow:0 0 5em 0.5em #000;
		-moz-box-shadow:0 0 5em 0.5em #000;
		box-shadow:0 0 5em 0.5em #000;*/
}
#prev {
	background-color: rgba(255, 255, 255, 0.3);
	
	height: 450px;
 
	/*width: 46.20%;*/
	top: 0;
	/*position: absolute;*/
     /*-moz-box-shadow:    10px 10px 15px 6px #000;
    -webkit-box-shadow: 10px 10px 15px 6px #000;    
    box-shadow: 0 0 2.5em 0.5em #000;*/
     -webkit-box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.67);
-moz-box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.67);
box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.67);
 
}

#next {
	background-color: rgba(255, 255, 255, 0.3);
	
	height: 450px;
	
	top: 0;
	/*position: relative;*/
     /*-moz-box-shadow:    10px 10px 15px 6px #000;
    -webkit-box-shadow: 10px 10px 15px 6px #000;    
    box-shadow: 0 0 2.5em 0.5em #000;*/
     -webkit-box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.67);
-moz-box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.67);
box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.67);
 
}

/*@media (max-width: 332px) {
    .carousel {
        -webkit-transform: scale(0.86);
        -moz-transform: scale(0.86);
        -ms-transform: scale(0.86);
        -o-transform: scale(0.86);
        transform: scale(0.86);
    }
}

@media (min-width: 580px) and (max-width: 667px) {
    .aside .carousel #prev #next {
        -webkit-transform: scale(0.86);
        -moz-transform: scale(0.86);
        -ms-transform: scale(0.86);
        -o-transform: scale(0.86);
        transform: scale(0.86);
    }
}

@media (min-width: 900px) and (max-width: 1020px) {
    .aside .carousel #prev #next{
        -webkit-transform: scale(0.86);
        -moz-transform: scale(0.86);
        -ms-transform: scale(0.86);
        -o-transform: scale(0.86);
        transform: scale(0.86);
    }
}

@media (min-width: 580px) and (max-width: 667px) {
    .main-and-aside.one-row .main .carousel #prev #next{
        -webkit-transform: scale(0.86);
        -moz-transform: scale(0.86);
        -ms-transform: scale(0.86);
        -o-transform: scale(0.86);
        transform: scale(0.86);
    }
}

@media (min-width: 900px) and (max-width: 1020px) {
    .main-and-aside.one-row .main .carousel #prev #next{
        -webkit-transform: scale(0.86);
        -moz-transform: scale(0.86);
        -ms-transform: scale(0.86);
        -o-transform: scale(0.86);
        transform: scale(0.86);
    }
}*/



.shadow {
    -moz-box-shadow:    10px 10px 15px 6px #000;
    -webkit-box-shadow: 10px 10px 15px 6px #000;    
    box-shadow: 0 0 2.5em 0.5em rgba(0,0,0,0.4);
}



#prev:hover, #next:hover {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
}

#pager {
	margin-left: -472px;
	position: absolute;
	left: 50%;
	bottom: 10px;
}
#pager a {
	border: 2px solid #fff;
	border-radius: 12px;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
}
#pager a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
#pager a span {
	display: none;
}
#pager a.selected {
	background-color: #fff;
}