body{padding: 0px; margin: 0px; background: #fff; font-family: 'PlutoSansCondRegular',sans-serif;}
.main{background: url("../Images/hmeBg.jpg") repeat-x; width: 100%; height: auto;}
.innerMain{background: url("../Images/innerBg2.jpg") repeat-x; width: 100%; height: auto;}
.innerBanner{width: 980px; height: 134px; margin: 0px auto;}
.abtBanner{background: url("../Images/abt_inner.jpg") no-repeat; }
.serviceBanner{background: url("../Images/serv_inner.jpg") no-repeat; }
.careerBanner{background: url("../Images/carer_inner.jpg") no-repeat; }
.clientsBanner{background: url("../Images/clnts_inner.jpg") no-repeat; }
.contactBanner{background: url("../Images/contact_inner.jpg") no-repeat; }
.hdngTxt{width: 788px; height: 78px; padding-top: 50px; float: left; font-size: 30px; color: #f4f4f4;}
.headerPart{height: 90px; width: 980px; margin: 0px auto;}
img{border: 0px;}
.logo{padding-top: 15px; width: 227px; float: left;}
.navigation{width: 576px; height: 90px; float: left; margin-left: 177px;}
.navigation ul{margin: 0px; padding: 0px; margin-top: 34px;}
.navigation ul li{display: inline; width: 96px; float: left; padding-top: 7px;}
.navigation ul a{font-size: 12px; font-weight: normal; color: #222; text-decoration: none; text-transform: uppercase; text-align: center;}
.navigation ul li:hover{color: #fff;}
li.current{background:url("../Images/navHoverBg.jpg") no-repeat; width:96px; height:22px;color: #fff;-webkit-box-shadow: 0px 4px 4px rgba(45, 50, 50, 0.42);-moz-box-shadow:0px 4px 4px rgba(45, 50, 50, 0.42);box-shadow:0px 4px 4px rgba(45, 50, 50, 0.42);}
.captionBg{width: 980px; height: 55px; margin: 0px auto;}
.captionPart{/* width: 760px; float: left;  */text-align:center; height:40px;font-family: Bradley Hand ITC; font-size: 22px; font-weight: bold; color: #075a80; padding-top: 13px;}
.socilIcons{width:220px; float:right;}
.banner{background: url("../Images/appDevlpmnt.jpg") no-repeat; width: auto; height: 250px; margin: 0px auto;}
.threeParts{width: 980px; height: 253px; background: url("../Images/whtwedoBg.jpg") repeat-x; border:solid 1px #ededed; margin: 0px auto; margin-top: 11px;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;-webkit-box-shadow: 0px 4px 4px rgba(45, 50, 50, 0.42);-moz-box-shadow:0px 4px 4px rgba(45, 50, 50, 0.42);box-shadow:0px 4px 4px rgba(45, 50, 50, 0.42);}
.threeParts div{width: 326px; height: 253px; border-right: solid 1px #ddd; float: left;}
.threeParts div p{font-size: 22px; color: #444; padding: 0px; margin: 14px;}
.threeParts div p.nrmlTxt, .bdypart p.nrmlTxt{font-size: 13px; color: #666; padding: 15px; line-height: 1.4; margin-bottom: 0px; padding-bottom:0px;text-align:justify; }
.threeParts div .readMoreBtn{float: right; font-size: 11px; background: #3496c7; color: #fff; margin: 0px 20px; padding: 4px 10px; text-decoration: none;}
.threeParts div .readMoreBtn:hover{background-color: #ebebeb;
    color: #3496c7;
    transition: all 0.5s ease-in-out 0s;}
.threeParts .noBorder {border: none;}
div.noBorder ul{margin: 0px; padding-left: 15px;}
div .noBorder ul li{list-style-type:none; color: #333; vertical-align: middle; font-size: 13px; border-bottom: solid 2px #fff; width: 245px; height: 22px; }
div .noBorder ul li:before{content:url("../Images/liImg2.png"); vertical-align: middle;}
.footer{background: #efefef; width: 100%; height: 50px; margin-top: 15px; padding-top: 15px;}
.footer ul{margin: 0px auto; width: 960px; padding: 0px;}
.footer ul li{display: inline;font-size: 12px; color: #777;}
/* .footer div{margin:0px auto; width:960px; font-size:11px; line-height:1.8; text-align:left;} */
.footer ul li a, span, .cpyTxt{font-size: 12px; color: #777; text-decoration: none; padding: 3px;}
.footer ul li a:hover{color: #333; text-decoration: underline;}
/* .footer ul li:last-child{float: right;} */
.socilIcons a span{ width: 24px; height: 24px; float: right; margin: 0px 5px 0px 0px;-webkit-transition: all ease 0.3s;-moz-transition: all ease 0.3s;-o-transition: all ease 0.3s;-ms-transition: all ease 0.3s;transition: all ease 0.3s;padding: 0px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; display:inline-block;}
.socilIcons a span:hover{background-position: 0px -24px;box-shadow: 0px 0px 4px 1px #efefef ;}
.fbIcon{background: url("../Images/fb.jpg")no-repeat;}
.gplsIcon{background: url("../Images/gpls.jpg")no-repeat;}
.inIcon{background: url("../Images/linkedin.jpg")no-repeat;}
.tweetIcon{background: url("../Images/twetter.jpg")no-repeat;}
.bdypart{width: 920px; height: auto; min-height: 380px; background: #f9f9f9; margin: 0px auto; margin-top: 16px;-moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;border-top-right-radius: 0px; -moz-border-radius-topleft: 0px;-webkit-border-top-left-radius: 0px;border-top-left-radius: 0px; padding: 0px 30px 30px;border:solid 1px #ededed;-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;-webkit-box-shadow: 0px 4px 4px rgba(45, 50, 50, 0.42);-moz-box-shadow:0px 4px 4px rgba(45, 50, 50, 0.42);box-shadow:0px 4px 4px rgba(45, 50, 50, 0.42);}
.bdypart .clients{width: 900px; height: 70px; margin: 30px; }
.bdypart .clientLogo{/* background-image: url("../Images/hotelNetlogo.png")no-repeat;  */width: 100px; height: 70px; float: left; border-right: solid 1px #ddd;}
.bdypart .nippon{background: url("../Images/nipponLogo.jpg")no-repeat;}
.bdypart .clientDesc{width: 699px; float: left; height: 70px; border:none;}
.India{width: 450px; height: 300px; margin-top: 25px; float: left; padding-right: 9px; border-right: solid 1px #ddd;}
.UK{width: 450px; height: 300px; margin-top: 25px; float:left;}
.UK iframe{margin-top: 32px;}
iframe{border: solid 2px #ddd; margin: 16px;}
.ulContent {color: #464646;margin: 0px;}
.ulContent li {left: 10px;position: relative;line-height: 20px;list-style: square outside none;font-size: 13px;}
.lftNav{width:100%;height:300px; float:left;margin:4px 20px 0px -25px;}
.bdyContent{width:700px; height:300px; float:left; background:#eee;}
.lftNav ul li{list-style-type:none; background:#4682b4; border-bottom:solid 2px #fff; }
.lftNav ul li a{ font-size:14px; text-decoration:none; color:#fff;}
/*Banner slide show css starts here*/
.nivoSlider {position:relative;width:auto;height:245px;overflow: hidden;}
.nivoSlider img {position:absolute;top:0px;left:0px;max-width: none;}
.nivo-main-image {display: block !important; position: relative !important;width: 100% !important;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box { display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img { display:block; }
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav {left:0px;}
.nivo-nextNav {right:0px;}
.theme-default .nivo-directionNav a {display:block;width:30px;height:30px;background:url(../Images/arrows.png) no-repeat;text-indent:-9999px;border:0;opacity: 0;-webkit-transition: all 200ms ease-in-out;-moz-transition: all 200ms ease-in-out;-o-transition: all 200ms ease-in-out;transition: all 200ms ease-in-out;}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {background-position:-30px 0;right:15px;}
.theme-default a.nivo-prevNav {left:15px;}
/* Services tabs styes starts here */
#tabContaier{position:relative;padding-top:10px;}
#tabContaier ul{overflow:hidden;border-right:1px solid #fff;height:35px;position:absolute;z-index:100;margin:0px; padding:0px;}
#tabContaier li{float:left;list-style:none;}
#tabContaier li a{background:#ddd;border:1px solid #fcfcfc;border-right:0;color:#666;cursor:pointer;display:block;height:35px;line-height:35px;padding:0 10px;text-decoration:none;font-size:13px;-webkit-box-shadow: 0px 4px 4px rgba(45, 50, 50, 0.42);-moz-box-shadow: 0px 4px 4px rgba(45, 50, 50, 0.42);box-shadow: 0px 4px 4px rgba(45, 50, 50, 0.42);}
#tabContaier li a:hover{background:#eee;}
#tabContaier li a.active{background:rgb(62, 150, 199);border:1px solid #fff;border-right:0;color:#fff;}
.tabDetails{margin:44px 0 0;}
.tabContents h1{font:normal 24px/1.1em Georgia, "Times New Roman", Times, serif;padding:0 0 10px;}
.tabContents p{padding:0 0 10px;}
/*for skype icon */
span.skype_pnh_container {display:none !important;}
span.skype_pnh_print_container, span[class^="skype_pnh_print_container"] {display:inline !important;} 